[2014-02-28 16:03] manju-smartgrow opened #1 "An issue of abrupt exit without verification"
Hi Jelmer,

   First of all, thanks a lot! for the useful tool. I am facing a small issue that the tool exists abruptly from the main loop: "while lng > trsf_size:"  The exit always occurs while writing the second last packet (i.e. when lng = 264) with the following error:
ERROR: ord() expected string of length 1, but NoneType found

However, as it happens while writing the second last packet, pro

[2014-03-02 17:37] #1 closed, assigned to JelmerT

[2014-03-10 01:31] JelmerT opened #4 "Check old progerssbar code"
There is still some code in the script for a progress bar during upload. This doesn't work properly at the moment because we skip parts of the code that have values of 0xFF. This makes the bar not advance gradually. It also needs an extra lib, that probably most user don't have.

Fix this or remove it.

[2014-03-10 01:38] JelmerT opened #5 "Also read mem size when getting chip ID"
GetChipID only reads the chip id at the moment. (Which is 0xb964 apparently)

We could expand this to also read the info page, which would give us SRAM size, Flash size and both IEEE addresses.

This would in turn give us the possibility to better check the boot loader backdoor enable bit.

[2014-03-10 01:45] JelmerT opened #6 "Python 2 - 3"
See if it is possible to make this script compatible with python3, and not break python2 compatibility. (Python 3 doesn't seem to come standard on all platforms at the moment)

[2014-07-08 16:10] #6 closed, assigned to nobody

[2014-07-23 15:32] JelmerT opened #12 "Improve erase option"
as discussed in #11

`-e` becomes a general 'mass-erase', which is probably used most often, and we add an option `--erase-page` which you can give a single page number, a page range, a single address or an address range.
This way it stays clear that when you specify an address, you'll still be erasing a page, because of the name of the option.

[2014-09-09 22:46] dazhbog opened #13 "Fails at first time"
Hi there,

Ive been using the script to program the cc2538 for a while now and it works great.

I have a little issue when programming the chip. After the chip goes into the bootloader the first attempt seems to always fail. Here are the traces below for the first and second attempt. The second attempt succeded.

First:
[code]

Second:
[code]

I tried putting delays between the reset and the progr

[2014-09-13 22:27] #4 closed, assigned to nobody

[2014-12-14 13:46] SkingXQ opened #14 "Some question about cc2538-bsl"
Hi there
I try to download .bin to cc2538em with SmartRF06 . But still fail.
I do not quite understand how to enter the bootloader mode. I reset the chip when holding select button all the time. However it still fails.
I am a beginner of contiki-OS . I know it's quite stupid.
Thank you anyway.

[2014-12-15 17:04] #14 closed, assigned to nobody

[2015-02-18 15:04] svenKautlenbach opened #16 "Reading memory results in exception"
When trying to read memory I get "ERROR: ord() expected string of length 1, but int found".
When removing the mdebug at the read section, I get similar error when it tries to write data to file - "ERROR: sequence item 0: expected string, int found".

[2015-02-18 15:15] svenKautlenbach commented on #16
Ok, I think I managed to get it correct. Maybe it is the fault of python 2.7?
mdebug(5, " 0x%x: 0x%02x%02x%02x%02x" % (conf['address']+(i*4), rdata[3], rdata[2], rdata[1], rdata[0]), '\r')
file(args[0], 'ab').write(''.join(str(reversed(rdata))))

[2015-02-19 12:16] JelmerT commented on #16
Interesting bug, thanks for reporting it.

Are you getting back the correct data after making your proposed fix? It sounds to me that `cmdMemRead` is returning something that it shouldn't into `rdata`

[2015-02-19 12:19] JelmerT commented on #13
@dazhbog did you get this fixed eventually?

[2015-03-13 19:23] svenKautlenbach commented on #16
Hi!

Sorry for slow response.
Actually this fix did not work, it just enabled to run the script with no problems, but inside the memory file was still incorrect data. And I have lost the file now, but there was text something about the iterator or object at 0x######. Can you assert which python version you are specifically running.

[2015-03-16 11:30] JelmerT commented on #16
The script should work with both 2.7 and 3.4.
Are you maybe willing to share the firmware file with me, so I can try to reproduce the error? If you still have it.

[2015-03-16 11:40] svenKautlenbach commented on #16
It is Contiki build, I simply am not allowed to share the specific binaries :(

[2015-03-20 20:36] JelmerT commented on #16
I understand, can you share the command you used to try to read the memory? Could have something to do with the length and location.

[2015-03-30 16:44] svenKautlenbach commented on #16
Sorry all gone by now. I will try to reproduce it when I have time, I will just try out and experiment with the script. Could you please hold on for now?

[2015-03-30 16:51] svenKautlenbach opened #17 "Errno 22 Invalid argument"
From time to time with no reason I get this. First I started to get it when I specified baud rate with "-b". Then removed the option and got back okay again. Then later I started to get this with "-p" option. And then I started to test what exactly is wrong.
18:42:43-user@instank-contriki:~/Folder/ ((0a8645b...))$ python cc2538-bsl.py
ERROR: could not open port /dev/ttyUSB0: [Errno 13] Permission

[2015-04-17 20:26] JelmerT commented on #16
No problem, I'll close this for now, feel free to comment when you come across the problem again.

[2015-04-17 20:26] #16 closed

[2015-04-17 20:32] JelmerT commented on #17
The 'Invalid argument' probably has something to do with the previous error, where it can't open the serial port. Is maybe some other process using that port?

The '[Errno 22] Invalid argument' does indeed not refer to the arguments used when calling the script but rather a problem with a function in the script itself.

[2015-05-23 19:21] g-oikonomou opened #25 "Support for the CC26xx"
So the CC26xx has a pretty similar (I suspect identical) bootloader protocol as the CC2538. The main difference is that code starts at 0x00000000 instead of 0x200000, flash size is limited to 128KB, different chip identifier. I have configured my chip to enter bootloader mode

* The erase command seems to ignore the address argument and it would be nice to make size configurable, thus changes requ

[2015-05-23 19:30] g-oikonomou commented on #25
Scrap the last one: Verify works fine it's just the protocol is slightly different.

[2015-05-26 15:51] JelmerT commented on #25
This looks very interesting! I looked for references to a bootloader in the datasheets before, but was pretty sad when I didn't find anything. But this is great news.

I have the chips, but no dev boards yet, once I have a working board I'll start testing.

[2015-05-26 22:31] g-oikonomou commented on #25
Basically the transport is identical, but there are the following major differences in terms of commands:

* Erase is now handled by `COMMAND_BANK_ERASE` (0x2C and _not_ 0x2A which is what the CC26xx-TRM says). This erases the entire user area of the flash, so this is a simple 3-byte command (LEN, CRC, CMD), but does not need an address. So my comment regarding how erase ignores `-a` can be ignore

[2015-05-27 01:53] JelmerT commented on #25
Oh, it is document indeed, I probably looked too soon or looked over it.
Thanks for figuring out TI's errors in the datasheet!

I'll create a new branch for the implementation of CC26XX support and start adding your findings. Are there any particular parts of the script you think need re-engineering?

`COMMAND_GET_CHIP_ID` seems to return the `USER_ID` Register in which we can check bit 27-26 `VER

[2015-05-27 09:16] g-oikonomou commented on #25
Probably too soon. If memory serves, the 1st online version didn't have this info.

I think what I ended up doing was to assume CC26xx unless I got the CC2538 identifier.

I wouldn't go as far as say "need", it's just that this very big `CommandInterface` combines many logical functionalities and this makes it a little hard to extend. I was thinking about breaking things down:

* A class `Command`

[2015-06-06 17:49] JelmerT commented on #25
Added the CC26xx branch and just found this document: `CC2538/CC26xx Serial Bootloader Interface` http://www.ti.com/lit/an/swra466a/swra466a.pdf and the soft/source: http://www.ti.com/lit/zip/swra466
That should help a lot while implementing the CC26xx support. And it seems like the CC13xx has exactly the same bootloader, so lets test the branch against that chip too.

Seems like I'll need a new n

[2015-06-08 11:42] schuschu commented on #25
I am currently trying out the cc26xx branch on a sensortag with the cc-dev-backpack (backdoor and bootloader enabled, pin no 0, active low). Unfortunately I get no reply to the synch sequence. You wouldn't have tried this with a sensortag by any chance? (also I have rev 1.0.0 devpacks so I am sure the mixed up rx/tx will prevent me from ever using bsl, just checking)

[2015-06-08 15:48] JelmerT commented on #25
I just made the branch, didn't do any implementing yet. So it's normal that you're getting no replies yet. ;)

I'll start implementing based on what @g-oikonomou found and the datasheets, once I finish / receive my hardware. But feel free to start yourself and send a pull request!
Didn't know about the error in the 1.0.0 devpacks, but it indeed seems like you won't be able to properly access TX/RX

[2015-06-08 16:00] g-oikonomou commented on #25
According to the CC26xx TRM [1], the bootloader maps signals to pins statically. For QFN48 / 7x7 the mapping is:

[code]

This mapping is fixed and cannot be changed (The ability to change this in CCFG would have been nice, but as far as I can tell it is not possible).

This mapping corresponds to how the XDS UART backchannel connects to attached EMs. Since debugger devpacks physically connect RX

[2015-06-08 18:24] schuschu commented on #25
I think this is more than just a devpack problem. I don't think DIO_2 and DIO_3 are accessible on the sensortag at all which means (especially when using contiki under linux) uploading will remain troublesome (with the smartrf tools only available under windows and uniflash ... well it sometimes happens to work but only for one node at one with no way of specifying). In your experience, is there a

[2015-06-22 06:56] timothybrown commented on #25
For what its's worth, Energia has support for the XDS110 on the MSP432, which is also what's on the Debug DevPack. So, one should be able to use the XDS binary from Energia under OS X or Linux to flash the Sensortag.

In fact, I'll work on that today.

[2015-07-06 15:07] Johan-Henry opened #28 "cc2538sf53 write stopping halfway"
Good day

I am having an issue with your script on my SmartRF06 Eval board with a cc2538sf53 on. Please have a look at the output below. Am I doing something wrong?
Erasing works perfectly fine and programming starts off well, but then gets interrupted with the message:
ERROR: No response from target on status request. (Did you disable the bootloader?)

I have tried your script on Linux and OSX on

[2015-07-10 13:41] herrfz commented on #28
Hello, I'm having the same issue on OpenMote. I'm running the script on Linux Mint VM (VirtualBox) on a Windows 7 host.

[2015-07-10 20:05] JelmerT commented on #28
@Johan-Henry @herrfz It seems that the script doesn't get an answer on the status command after it changed the write address.

Can you still reprogram the chip after this error (is the bootloader disabled)?
Have you tried programming the standard Contiki example, to see if it's a hardware problem or not?
Can you give me the complete command you use to call the script.

[2015-07-10 20:10] JelmerT commented on #17
Were you able to solve this @svenKautlenbach ?

[2015-07-10 20:51] JelmerT commented on #25
Seems to me that there is a need for a better, simpeler dev board, with easier programming and sensor-hookup possibilities, targeted to the WSN-crowd.
Any takers? :) It'll be hard to beat the 15$ price point of TI though.

@timothybrown any luck with those XDS110 drivers from Energia?
@schuschu a software only bootloader is definitely possible, you'll need to write it though ;) The telosb (and sky

[2015-07-11 02:03] timothybrown commented on #25
@JelmerT I made progress, but under OS X I'm being held up by a single dynamic library!

Long story short, the MSP432 is a CM4, whereas the SensorTag is a CM3, so despite both boards using the same emulator a different set of config files are needed on the host. What I did was copy all the relevant files from CCS UniFlash Windows to OS X. The only thing missing is 'tixds510icepick_c.dylib' which I

[2015-07-13 15:18] herrfz commented on #28
I think I need to reset, then I'm again able to rerun the script.

I figured in my case it was probably a VirtualBox issue. I tried on my Mac and there was no problem. Here's the command:

    python cc2538-bsl.py -e -w -b 115200 -p /dev/ttyUSB0 --bsl 03oos_openwsn_prog.bin

[2015-07-13 18:58] Johan-Henry commented on #28
Hi JelmerT

I am using the same command than Herrfz. It seems that my issue might be related to my hardware as I am having a similar issue with another serial programming script written in C++. Sorry for opening this issue, it seems unrelated to your script.

Thanks for the replies

[2015-07-13 18:58] #28 closed

[2015-07-13 20:08] JelmerT commented on #28
No problem. I've seen a lot of trouble before with virtual machines and usb-serial drivers / hardware. Adjusting time-outs might help in that case (or changing VM).

[2015-07-29 03:31] JelmerT commented on #25
Thanks for the update @timothybrown, good work on pushing TI on this!

[2015-07-29 09:43] svenKautlenbach commented on #17
Not sure 100%, but the hypothesis you suggested might have been correct that something else was using the serial port too. I had 6LBR running, that has caused problems for me before too...
Can close it.

[2015-08-07 23:47] #17 closed

[2015-08-19 13:24] davidrojas commented on #13
I have exactly the same problem, @dazhbog . Did you find a solution?
I noticed that if I tune down the speed to 38400 or less, then it always works.

[2015-08-21 22:13] marciolm opened #31 "Locked out after flashing a cc2538 module"
Hello,
I can't say if is a CC2538 bug, but after flashing a generic CC2538 512k module with the Contiki's udp-client.bin example, I lost the bootloader access (pulling down PA3 and reset). There was previously an other valid image in the flash. The CC2538-bsl doesn't check the bootloader backdoor field before flashing ?  I did something wrong ? I'm afraid in loosing more modules, becaause I dont h

[2015-09-02 09:38] JelmerT commented on #13
@davidrojas did you try increasing the `timeout` value?

[2015-09-02 09:41] davidrojas commented on #13
Yes, I already tried that, makes no difference.

[2015-09-02 10:01] JelmerT commented on #13
@davidrojas what hardware are you using?

[2015-09-02 10:14] JelmerT commented on #31
The script tries to check if the boot loader backdoor enable bit is set or not and it will tell you if your firmware is about to close the backdoor. But this only works for firmware images of the right size for the 512K chip. (Any help on implementing  check for different sizes and firmware is greatly appreciated)
So, in theory, if your firmware was about to close the backdoor, the script should h

[2015-09-02 10:21] JelmerT commented on #25
Everyone: @g-oikonomou added a new branch to this repo with CC26XX support.

Has anyone used or tested this new implementation? Is everything working as expected? I'd love some feedback on it so we can decide how to continue and implement it properly into the master branch.

[2015-09-02 15:16] davidrojas commented on #13
A custom board with an ftdi chip FT232RQ

[2015-09-03 20:33] marciolm commented on #31
I was using an outdated version of Contiki's tree. The current tree at the Github has several switches to control the bootloader field in the ~/contiki/platform/cc2538dk/contiki-conf.h file.
I only spotted this problem with you help. Thank you.
Márcio

[2015-09-03 20:33] #31 closed

[2015-09-07 03:45] dazhbog commented on #13
Sorry for the late reply, I made another, custom board with very short traces and a different FTDI chip and now i can take the baud rate up to 500000. I still have to manually bring the board into the bootloader mode though..

[2015-09-09 22:09] g-oikonomou opened #32 "Read functionality seems broken"
Standard CC2538EM on SmartRF06EB, programmed with valid image, bootloader bound to KEY_SELECT.

[code]
and then with `-V`

[code]

[code]

[2015-09-15 01:35] JelmerT commented on #13
Using the auto bootloader start feature only works if your hardware supports it (RTS and DTR should be connected to the chip).
There might be some other issues with it too, for more info have a look at #27

[2015-09-15 03:33] JelmerT commented on #32
The `read` option was never thoroughly tested since it takes ages to read big chunks of data. I always tested it together with the `length` option.

I'll look into this.

[2015-09-15 04:17] JelmerT opened #36 "Add unit testing"
Figure out how to do some kind of unit testing.

This will be pretty complicated since real hardware is probably needed to do all the tests (and there's currently 3 different supported platforms).

[2015-09-15 13:38] g-oikonomou commented on #36
I was thinking of a second script (or number of scripts) that knows how to reply correctly or incorrectly to specific commands.

We can then put it on travis (?) and perhaps even look into [codeclimate](https://codeclimate.com/oss). Or maybe I'm just exaggerating now...

[2015-09-15 13:39] g-oikonomou commented on #5
I'm working on this one (for all supported chips) and hope to have something soon.

[2015-09-15 14:48] JelmerT commented on #5
:+1:

I started working on this at some point, see this [branch](https://github.com/JelmerT/cc2538-bsl/tree/feature/readsize), but never merged it back into master (only for cc2538)

[2015-09-15 16:51] lovelesh opened #38 "how to unlock bootloader if it gets accidentally locked?"
Hi @JelmerT ,

I have been using you python script for uploading program to openmotes. But I accidentally changed the target to cc2538dk and now I am not able to unlock the bootloader. I don't get any ACK when I send 0x55 x055 on serial terminal.

Is there a way out? I am not able to find any web page on this issue. I can get the J LINK SEGGER debugger if required.

Thanks,
Lovelesh

[2015-09-16 08:00] davidrojas commented on #13
I've done some tests, and this behaviour is somewhat erratic. I noticed it is dependant on the actual binary that you uploaded before, but I don't know exactly what it is. If some peripheral is activated/deactivated, low power mode, etc. in the previous firmware, it always takes two attempts to flash (bootloader always comes up alright everytime, you can check because the LEDs are half-way on). Th

[2015-09-17 12:25] g-oikonomou commented on #13
I've been in a situation where synch fails after a reset and I have to reset again. I've not double checked whether the cause is the same as what is being discussed here, but will do.

1. Waiting for the device to return non-zero data is important because the device can send zero bytes between a sent and received data packet. The first nonzero byte received is the size of the packet being received

[2015-09-17 14:20] JelmerT commented on #38
I don't have any Openmotes, so for specific questions about that platform, you'll have to contact them.

That being said: I'm presuming you're using a recent distribution of Contiki, and in the standard CC2538dk platform, the boot loader should be unlocked. You can check this here: https://github.com/contiki-os/contiki/blob/master/platform/cc2538dk/contiki-conf.h

So make sure you're pulling down

[2015-09-17 14:35] JelmerT commented on #36
Travis sounds good to me, I'll have a look if I can set something up.

I also had a second script in mind that basically emulates the boot loader in the different chips. A `CC2XXXBootloaderSim` so to say.

FIFOs would work, but what do you think about creating a virtual tty via python (http://askubuntu.com/questions/9396/virtual-serial-port-for-testing-purpose) and connecting the bootloader sim to

[2015-09-18 14:54] g-oikonomou commented on #13
I think we need to re-open this.

I now have a theory: When the running firmware sends stuff out of the UART, these things get somehow buffered (on some FTDI on the board? somewhere in the driver or line discipline?). The first N bytes read after sending the synch sequence are exactly those bytes. The reason we see them as zeros is because we open the port at a different baud rate than the one tho

[2015-09-18 16:08] JelmerT commented on #13
I'm also noticing some failed first-attempts. I always assumed it was because I didn't properly (manually) start the boot loader, but now that I'm looking closer at the problem, I'm indeed also sometimes getting a bunch of zeroes, but also sometimes non-zero junk values.

I indeed thought `flushInput()` fixed all this in 34d43457443492ab3904a8ef50169d9250263329, but apparently the chip / driver ha

[2015-09-18 16:42] g-oikonomou commented on #13
I had a bit of a eureka moment to try and close the port manually before script exit. Shouldn't make any difference in theory but I'll give it a stab later!

[2015-09-18 18:46] g-oikonomou commented on #13
Testing on OS X here as well. `cmd.close()` doesn't make any difference. Behaviour consistent with Zolertia RE-Mote (some FTDI, FT2232 I think) and SmartRF + CC2650EM

[2015-09-19 01:43] #25 closed

[2015-09-19 02:08] g-oikonomou commented on #36
That looks very promising!

Sounds useful, but I cannot immediately think how we can do this without requiring someone to manually put the device back to bootloader mode between executions.

[2015-09-19 23:52] JelmerT opened #41 "New name for the script?"
With the added support for CC26XX and CC31XX chips in version 1.2, the original name of the script and this repository is slightly outdated.

Do we need a new name? If yes, which one?

Renaming a github repo [looks pretty painless](https://help.github.com/articles/renaming-a-repository/), all existing links should still work afterwards. Makefiles in Contiki would need to be updated, but this would

[2015-10-21 16:24] uknoblic opened #43 "Default baud rate 500k for cc2538 OK?"
Hi,

is seems that the default baud rate used for your script is 500000. Did you test this speed with the cc2538? http://www.ti.com/lit/an/swra466a/swra466a.pdf states that the cc2538 only supports 460800.

Regards

Ulf

[2015-10-21 16:29] uknoblic opened #44 "Python problems with serial port?"
Hi,

is there any issue know with the actual python library in ubuntu (14.04)? The bsl-script fails to receive the ACK on the synch sequence in about 50% of the times. We checked that the ACK is send correctly (sending 0x55 0x55 by hand using a windows terminal program). Maybe caused by this issue:

https://bugs.launchpad.net/ubuntu/+source/linux-lts-trusty/+bug/1501345

I hade similar problems wi

[2015-10-21 16:36] uknoblic commented on #44
Sorry,

this topic seems related to issue https://github.com/JelmerT/cc2538-bsl/issues/32. We are using a custom board where the CC2538 is connected to the PC using a FTDI FT234XD.

Regards

[2015-10-21 17:13] uknoblic commented on #44
https://github.com/JelmerT/cc2538-bsl/pull/40 solves our problem!

[2015-10-21 17:13] #44 closed

[2015-10-23 00:30] JelmerT commented on #43
This speed (500000) does indeed work with the CC2538. Mainly tested by trial and error on the SmartRF06 boards. Never heard any complaints.

Are you seeing problems with a specific platform?

Note that this speed is only used in the beginning of the script, before enabling the external crystal.

[2015-10-23 06:19] uknoblic commented on #43
Thanks, no problems with this baud rate. As we had the issue with the FTDI converter before using Georges's fix, i was wondering if the baud rate could be the problem. Solved!

[2015-10-23 06:19] #43 closed

[2015-10-23 06:45] #32 closed

[2015-10-23 06:57] JelmerT commented on #44
Perfect! Thanks for confirming #40, I'll merge it into master.

[2015-10-23 07:21] #5 closed

[2015-10-23 07:22] JelmerT commented on #38
Did you get this problem solved @lovelesh ?

[2015-10-24 13:24] lovelesh commented on #38
Hi Jelmer,

I dont have access to the JTAG Debugger. But the TI forum also suggested
the same. So I am buying the Debugger.

Regards,
Lovelesh

On Fri, Oct 23, 2015 at 12:52 PM Jelmer Tiete <notifications@github.com>
wrote:

[2015-10-27 00:19] JelmerT commented on #38
Ok, I'll close this issue then. Feel free to comment if you need further help.

[2015-10-27 00:19] #38 closed

[2015-11-07 03:35] #13 closed

[2015-11-08 16:32] g-oikonomou opened #45 "Time to push to Contiki?"
@JelmerT Jelmer, I've been thinking perhaps we should bump version number to 2.0 :smile: and open a pull on Contiki?

[2015-11-08 22:56] JelmerT commented on #45
Working on it as we speak, was just going over the makefiles of the cc26xx and getting the .upload working for the srf06 platform. PR coming up.

[2015-11-09 08:27] #45 closed

[2015-12-24 07:11] juige opened #47 "CC2650 SBL command fail"
Hi all,

I am using the script to upgrade my CC2650 but got a timeout issue when upgrade firmware. Does anyone have any suggestion?

Following is the log:
[/home/george/Downloads/cc2538-bsl-master]$./cc2538-bsl.py -e -w -v -V -b 115200 -p /dev/ttyUSB0 ./BLEPeripheral.hex
Opening port /dev/ttyUSB0, baud 115200
Reading data from ./BLEPeripheral.hex
Your firmware looks like an Intel Hex file
For more

[2015-12-24 12:04] g-oikonomou commented on #47
Never used with 4x4 but good to see the script detected the package correctly (I hope!?). I cannot see how this could be the cause.

Try without -b please

We may have to increase the timeout to accommodate for this and perhaps even lower speeds. Either that or set a min speed limit (115200 would sound reasonable)

[2015-12-25 06:01] JelmerT commented on #47
In the past errors like this sometimes were caused by too long wires / unstable serial connections between the chip and the USB-serial converter.
You could try looking at the signal with a scope, to make sure it's clean. Or slowing down the speed even lower and see if that makes a difference (after you tried without the `-b`).

[2015-12-28 05:28] juige commented on #47
Thanks all.

The problem is the RESET pin is shared with the SOC. After removing it, the script is work :)

[2015-12-29 04:08] JelmerT commented on #47
Glad you found the culprit.

[2015-12-29 04:08] #47 closed

[2016-02-25 09:14] alignan opened #49 "Script fails to flash on Raspberry Pi"
On the Raspberry Pi (raspbian wheezy) it fails to flash a RE-Mote/Firefly as follows:
[code]
I followed the requirements as stated [here](https://github.com/Zolertia/Resources/wiki/Program-the-Zolertia-platforms).  Any clue?

[2016-02-25 09:21] alignan commented on #49
Sorry! there was another process hidden trying to hog the port, works flawless on the Pi.

[2016-02-25 09:21] #49 closed

[2016-06-04 13:54] bthebaudeau opened #52 "Synch response timeout error with some commands"
On Zolertia Zoul Firefly, with cc2538-bsl 4340542:
[code]
[code]

The common condition to these errors seemed to be the lack of input file to read, which made me test if this was a timing issue with the following patch:
[code]

And it now works. This is not a clean fix, but only a workaround indicating where to look. That's why I have opened an issue and not a pull request for this.

[2016-06-04 14:11] g-oikonomou commented on #52
See also #50

I think this is related to the `time.sleep()`s inside `invoke_bootloader`. On the RE-Mote there is a PIC that asserts the SoCs RESET line as soon as it detects the respective sequence on the DTR and RTS lines. I've found out that on some RE-Motes this may take slightly longer than in others. I think what happens is that we are trying to talk to the BSL before it has actually started

[2016-06-04 15:31] alignan commented on #52
It uses the same design, I has to increase the sleep time also to 0.1 or alike to be on the safe side, as depending on the OS or VM the flashing failes

[2016-06-13 10:26] arthurfabre commented on #52
Same issue here using a remote on a baremetal ubuntu 16.04 install (but works fine on a VM).
Changing both the sleeps from `0.002` to `0.02` resolves the issue on the physical machine.
Is everyone happy for me to submit a pull request making this change?

[2016-06-13 10:27] g-oikonomou commented on #52
Yes, a PR is welcome. But I think we need to be certain about the correct wait time here; this is something we thought we had fixed already.

[2016-06-13 10:28] alignan commented on #52
`0.02` was a bit too optimistic to begin with... `0.1` should be pretty safe

[2016-06-13 20:35] bthebaudeau commented on #52
`0.1` for both sleeps works fine for me with Zoul Firefly on Lubuntu 16.04.

[2016-06-17 10:18] arthurfabre commented on #52
As far as I can tell from the comments, we shouldn't need to increase the 1st timeout - it seems to be a Mac specific thing (commenting it out on Ubuntu 16.04 doesn't break it either).

`0.1` works for me too with Remotes on Ubuntu 16.04.

[2016-06-18 15:23] JelmerT commented on #52
closed by #53

[2016-06-18 15:23] #52 closed

[2016-07-01 13:44] peretuset opened #55 "Support for MSP432?"
@JelmerT I have read through the MSP432 (http://www.ti.com/lit/ug/slau622a/slau622a.pdf) and compared to the CC2538/CC2650 (http://www.ti.com.cn/cn/lit/an/swra466a/swra466a.pdf) documentation, and the BSL implementation seems different. However, the communication mechanisms between the chip and the PC are similar, so I am wondering if you/someone would be interested in adding support for the MSP43

[2016-07-06 13:06] alignan opened #56 "Restart the device via command line"
Hello!

Something that would be really cool and handy would be to restart a device over USB, is this feature available, or on the roadmap?

Thanks!

[2016-07-06 15:21] JelmerT commented on #55
When we added support for the CC2650 we specifically added some abstraction with the idea to support more chips in the future. So I'm all for, this and I welcome all pull requests.

I don't have any MSP432 HW though, so I currently can't work on this myself.

[2016-07-06 15:24] g-oikonomou commented on #55
Need a little more work on that abstraction, but this could be an excellent opportunity to do this. Depends how close the msp instruction set is to what we have already. Is the actual packet format the same?

[2016-07-06 15:37] JelmerT commented on #56
When you're referring to restarting the chip, I'm presuming you mean restarting while it's running the flashed image. This might be difficult since you can only send a reset command when you're actually communicating with the bootloader (which has to be started manually).

If the hardware supports the RTS (serial pin) to RST (pin on the chip) mapping, then it wouldn't be too hard to add this I thi

[2016-07-07 14:19] JelmerT commented on #55
Looks like there are some significant differences:
(left msp, right CC)
![screen shot 2016-07-07 at 16 17 26](https://cloud.githubusercontent.com/assets/873684/16656308/7a14bc16-445e-11e6-95d7-b90d19f85124.png)

[2016-08-02 13:37] AmitSharma1094 opened #57 "ERROR: Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)'"
Hi,

I am using srf06EB. I am trying to flash cc1310 with contiki demo code. I gettign ACK-NACK error.

PS:- I already modified BL setting as per suggestion mention in the README.

Command:-
`sudo make TARGET=srf06-cc26xx BOARD=srf06/cc13xx cc26xx-demo.upload`

Error:-
[code]

Br
Amit Sharma

[2016-08-02 14:30] #57 closed

[2016-08-02 15:06] JelmerT commented on #57
@AmitSharma1094 you closed this, did you fix your issue? If yes, could you share your error or solution for future reference?

[2016-08-03 06:59] AmitSharma1094 commented on #57
Hi Jelmer,

Yes it's fixed.

Solution :- i was flashing the code on wrong Port[I was flashing the code on ttyUSB0, but later i changed it to ttyUSB1].

For reference please refer below mention link.
[](http://e2e.ti.com/support/wireless_connectivity/proprietary_sub_1_ghz_simpliciti/f/156/p/529953/1941134#1941134)

Br
Amit Sharma

[2016-08-03 06:59] AmitSharma1094 commented on #57
Sorry, forget to add link

http://e2e.ti.com/support/wireless_connectivity/proprietary_sub_1_ghz_simpliciti/f/156/p/529953/1941134#1941134

[2016-08-03 12:24] JelmerT commented on #57
@AmitSharma1094 👍

[2016-09-19 08:30] niolp commented on #56
Hi Jelmer.
Do you mean RTS pin on an FTDI232R device? Are there any other hardware considerations to make this work?
Regards

[2016-09-27 19:41] JelmerT commented on #56
@niolp yes the RTS on an FTDI or similar USB to serial chip. The idea is to connect the RTS or DTR of the serial line to the reset pin on the chip and be able to hard reset the chip that way. You can check the `invoke_bootloader` function for more details.

[2016-10-13 13:51] gfarrell opened #59 "Add licence"
Great script, could you add a licence to it so it's clear? Looking at integrating into some of our tooling.

[2016-12-08 12:09] zhangtuoparis13 opened #61 "Can not Flashing a 6lbr image to the Zolertia Ethernet IoT Gateway"
Hi all,

  I follow the instruction on [Zolertia/Resources/wiki/6lbr](https://github.com/Zolertia/Resources/wiki/6lbr)
  then I have a problem while flash the 6lbr image to the  Zolertia Ethernet IoT Gateway.
[code]
i have also tryed with config the -p /dev/ttyUSB0  and -b 115200, it does not work either.

Is there anyone expertise could help me to solve the problem?

Thanks a lot!

ps: but it can

[2016-12-08 12:13] g-oikonomou commented on #61
@alignan any comment here?

[2016-12-08 12:57] alignan commented on #61
This is the wrong place to ask for help, as it depends on the 6lbr version of the script, which at the date I think is some commits behind.  You could always do a fresh clone of the cc2538-bsl repository, and just flash the compiled binary, even try to replace the cc2538-bsl.py file.

I will return on December 29th, until then good luck!

[2016-12-08 13:22] zhangtuoparis13 commented on #61
all my clones are fresh, it doe not work even replace the cc2538-bsl.py file.
i will continue to figure the issue.
@alignan good holiday, thx anyway~

[2016-12-08 14:21] zhangtuoparis13 commented on #61
yes it works when i do a fresh clone of the cc2538-bsl repository. thank you @alignan .

[2016-12-08 14:21] #61 closed

[2017-03-03 11:12] ghazel opened #63 "ERROR: Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)'"
Using CC1310 on a SMARTRF06, git rev a38cfc889ebb2197b8775c79763e04c592fd4b77, I get:

[code]

(I manually set the baud to 115200 which I believe is correct. 500000 failed the same way.)

[2017-03-06 17:31] JelmerT commented on #63
The 500000 baud rate should work (this makes things a lot faster).

The timeout waiting for the ACK/NACK means there was no answer from the chip. You're sure about the connection to the chip itself? Can you test it with another program / device?

[2017-03-06 17:34] ghazel commented on #63
I'm sure about the connection. Uniflash was able to flash the chip just fine, and hello-world worked.

[2017-03-06 23:18] JelmerT commented on #63
Just trying to debug here: You're confident you've got the correct serial port, and you're sure the bootloader is unlocked on the chip?

[2017-08-11 02:27] splitice commented on #63
I'm getting a similar issue with a CC2538 module straight from the factory. These modules when programmed with a firmware communicate fine over serial. Just to be sure I connected JTAG and did an erase (in-case the factory set some bits for some reason) which should reset image valid I think.

[2017-08-11 02:51] splitice commented on #63
I can confirm the SBL is running, I set up a FTDI on the same pins on windows:

![](https://i.imgur.com/vp2Q2Me.png)

[2017-08-11 03:02] splitice commented on #63
cc2538-bsl.py also works on Windows via the FTDI module

C:\Python27>python cc2538-bsl.py -p COM8
Opening port COM8, baud 500000
Connecting to target...
CC2538 PG2.0: 512KB Flash, 32KB SRAM, CCFG at 0x0027FFD4
Primary IEEE Address: 00:12:4B:00:10:05:FF:DB

The actual hardware is a Linux SBC with the module connected via a UART

[2017-08-11 04:16] splitice commented on #63
I think this may be related to ZNP attempting to start up (which uses the same serial port) causing the SBL to pick a wrong baud rate.

[2017-08-11 04:21] splitice commented on #63
Also the first time requested after boot fails.

[code]

[2017-08-14 07:59] splitice opened #64 "Write corruption"
How to replicate:
[code]

Comparison example:
![](https://img.x4b.org/2017-08-14/2017-08-14_17-48-35.png)

We tested different baud rates both slower and faster including the default with no changes.

Hardware: CC2538. No issues with communication over serial when running as ZNP (flashed with Flash Programmer 2 via JTAG)

[2017-10-05 09:25] JelmerT commented on #55
Pull requests on this still very welcome, but closing this issue for now.

[2017-10-05 09:25] #55 closed

[2018-01-11 15:53] Tanganelli commented on #56
Hi Jelmer,
I am using a zoul board and the contiki OS. I tried to define a reset function inspired by your `invoke_bootloader`. The following is the result:

`class CommandInterface(object):
    ACK_BYTE = 0xCC
    NACK_BYTE = 0x33
    def open(self, aport='/dev/tty.usbserial-000013FAB', abaudrate=500000):
        self.sp = serial.Serial(
            port=aport,
            baudrate=abaudrate,

[2018-06-27 13:02] kgraefe commented on #59
According to the [script header](https://github.com/JelmerT/cc2538-bsl/blob/master/cc2538-bsl.py#L3) the script is licensed under [The 3-Clause BSD License](https://opensource.org/licenses/BSD-3-Clause).

[2018-08-23 09:26] itsmepetrov opened #73 "cc2530/cc2531 support"
Any chance of adding support for cc2530/cc2531?

[2018-08-23 10:26] g-oikonomou commented on #73
Have you checked cc-tool?

https://github.com/scott-42/cc-tool
https://github.com/dashesy/cc-tool

Not sure which one is newer

[2018-08-23 10:29] itsmepetrov commented on #73
Yes, I've already checked, but I haven't seen any support for `.bin` images for `sbl` loader. As I understand it works only for full images (.hex) and only via `cc-debugger`.

[2018-08-23 10:43] g-oikonomou commented on #73
I personally don't plan to work on adding support for that chip family, no.

cc-tool uses the debug interface last time I checked, yes. As far as I can tell, this sbl is not on chip ROM, is it? So one has to build it and then program the device with it, it sits in the low area of flash. If one can build it then one can certainly create a combined hex/bin that contains the bootloader + the main app

[2018-08-29 09:18] librasungirl opened #74 "'module' object has no attribute 'serialposix' under git-bash on windows"
https://github.com/JelmerT/cc2538-bsl/blob/master/cc2538-bsl.py#L217,
`if isinstance(self.sp, serial.serialposix.Serial):` may cause some platform issue, as on windows, it should be serialwin32, other than serialposix

[2018-08-31 15:43] JelmerT commented on #74
I don't have a windows system to test this problem, can you submit a pull request to fix this?

[2018-09-02 13:09] librasungirl commented on #74
@JelmerT , #75 is submitted to fix this. Validated it works under Window OS, and Ubuntu/Mac OS as well.
Please help to review it. Thanks.

[2018-10-06 14:49] JelmerT commented on #74
closed by #75

[2018-10-06 14:49] #74 closed

[2018-11-01 16:00] JelmerT commented on #25
@arunpm04 Looks like there's no big changes to the bootloader for CC26x2, so my guess would be yes. But if you run into any problems, feel free to open an issue or pull request

[2018-11-14 13:53] nusrathmouri commented on #57
Hi Jelmer,
I am in the similar trouble. When I want to upload cetic_6lbr_router_eth_gw.bin image in Orion router it shows the above mentioned error: Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)'. But the same process is exactly working for zolertia re-mote device but it is not needed. Even if I am changing ports these are not fixing the problem in orion router. Could please give some sugg

[2018-11-15 19:09] JelmerT commented on #57
@nusrathmouri this means the script isnt getting any response from the micro in the orion router. Make sure all your connections work, also have a look with @zolertia on how to reflash the router correctly.

[2018-11-16 12:01] nusrathmouri commented on #57
Hi,
Now the previous problem is solved. Can you please tell me what is the
errors I need to solve for uploading mqtt-client file(attached output
screenshot). I need to solve it by tomorrow. Please help me.

Nusrath

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm

[2018-11-16 14:51] JelmerT commented on #57
So what was the solution to your previous problem? Please share so everyone can learn.
If you're having a different issue, please open a new one.

[2018-11-19 08:57] nusrathmouri commented on #57
May be the problem was with connectivity. When I close my VMware and started again it was working correctly. But after uploading cetic_6lbr_router_eth_gw binary image, I am facing new problem with router configuration and mqtt-client also has some errors.

[2019-01-02 15:07] toothless90x opened #78 "CC1350 sensor tag"
Is there a way to hardwire CC1350 sensor tag to interact with this script ?

[2019-01-03 15:55] g-oikonomou commented on #78
Absolutely not for the CC2650 sensortag, since the relevant pins are not exposed. I suspect (but have not checked) that the same applies for the CC1350 one

[2019-01-04 11:36] JelmerT commented on #78
TI might actually improved the design on this version a (tiny) bit!
I don't have the hardware but if I look at the design files it looks like the bootloader UART pins are on DIO2 and DIO3 (7x7QFN). Looking at the schematic of the sensortag these pins are used for the digital mic, but they conveniently added 2 jumpers on those traces (R21 and R22).
<img width="433" alt="screen shot 2019-01-04 at 12

[2019-01-04 11:46] JelmerT opened #79 "UART0 pin as backdoor enable pin on CC26xx and CC13xx"
Found this interesting line in the Tech Ref Manual of the CC1350

Pretty sure this wasn't possible with the CC2538, but probably it is with the CC26xx. So if we use the RX line for the bootloader enable pin, we could make entering the bootloader slightly easier. Instead of having to do the `select` + `reset` finger dance, you'd just need to reset the chip.

[2019-01-04 12:02] JelmerT commented on #64
You're missing the length of the data you want to read (`-l` option). The `-r` option by default reads `0x80000` bytes of data. But it looks like your firmware has a different length.

The read function could use some general improvement, it was never thoroughly tested. But we could add a warning in the script for now that notes that it is using the standard read length.

[2019-01-04 12:09] JelmerT commented on #73
Closing this for now, support for CC2530/31 would be great, but it's not an easy add-on, and there's no one volunteering at this moment.
This ties in to the previous idea of expanding the script into a universal tool for all chips with a serial bootloader flashing mechanism.

Pull requests are welcome though!

[2019-01-04 12:09] #73 closed

[2019-01-04 13:15] akrv commented on #78
Yes, this works. I have tested it.
But, must be removed for Microphone to work.
we are using a [TMUX12095-VBidirectional 4:1, 2-Channel Multiplexer](http://www.ti.com/product/TMUX1209) to mux the pins with the APP_UART and BL_UART.

[2019-01-04 14:17] JelmerT commented on #78
Great!

Thanks for confirming @akrv !

[2019-01-04 14:17] #78 closed

[2019-01-04 14:18] JelmerT commented on #78
Something in the readme about this might be good.

[2019-01-04 21:34] splitice commented on #64
I think you missed the point. Anyway we were able to resolve this with our fork, we rewrote substantial portions of the communication code (although our fork is CC2538 only).

[2019-01-04 21:34] #64 closed

[2019-01-05 00:07] JelmerT commented on #64
Care to elaborate what the point exactly was, or point to your fork so we can improve this script?

[2019-01-05 10:56] desword commented on #63
How about the TI cc2650?
I have followed the steps on http://pablocorbalan.com/getting-started-with-ti-cc2650-launchpad
to flush a bootloader enabled firmware on cc2650, and then try to flush the firmware using cc2538-bsl.

I have tried `/dev/ttyACM0` and `/dev/ttyACM1`. And the change the baud  into 115200. However, both of them can not work.

I am trying the example on https://github.com/spoerk/

[2019-01-05 11:59] JelmerT commented on #63
@desword your problem seems different from the other issues in this thread, so feel free to open a new issue.

The timeout errors you're getting means the script isn't getting any response from the chip. There's multiple possible causes, but the main one is usually hardware related. So make sure your serial connection to the chip and serial bootloader works. Then check that the SBL itself is prope

[2019-01-26 14:23] Mix213 opened #81 "No serial port found while trying to flash CC1310 LAUNCHPAD with contiki demo code."
Hi,
I am using CC1310 LAUNCHPADXL. I am trying to flash cc26xx-demo code of Contiki.

I have modified the bootloader settings in cc26xxware/startup_files/ccfg.c file in reference to the document http://www.ti.com/lit/ug/swcu117h/swcu117h.pdf on the page:725.
BOOTLOADER_ENABLE = 0xC5 (Bootloader enable. SET_CCFG_BL_CONFIG_BOOTLOADER_ENABLE in CC13xx/CC26xxware)
BL_LEVEL = 0x1 (Active low. SET_CCFG_

[2019-01-26 18:52] JelmerT commented on #81
With the -p option you can define the port the script connects on. So if you add `-p /dev/ttyACM1` when you call the script it should try that serial port.

[2019-01-26 18:54] JelmerT commented on #81
But I'm suspecting something else is wrong here, since a serial port with that name should automatically be detected by the script.
Are you sure those ports are there and available? No other process is using them?

[2019-01-26 19:15] Mix213 commented on #81
So I tried adding /dev/ttyACM0, I get ERROR: Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)'.

I am sure the ports are there and not being used by any other process.

[2019-01-29 17:05] Mix213 commented on #81
Sir, can you please help me out. I am trying to flash my cc1310 launchpad with the following command,
make TARGET=srf06-cc26xx BOARD=launchpad/cc1310 cc26xx-web-demo.upload /dev/ttyACM0

Getting ERROR: Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)'.

![contiki](https://user-images.githubusercontent.com/47058385/51925970-2a5b0780-2416-11e9-9adf-fb77f8a429d3.png)

[2019-01-30 03:40] JelmerT commented on #81
Make sure that the CC1310 chip on the launchpad has its bootloader enabled. Wipe it over JTAG, or flash the firmware with an enabled bootloader via JTAG before you try the serial bootloader.

[2019-01-30 12:01] Mix213 commented on #81
Sir,
Can you elaborate it, please? How do I do that?
I have made the necessary changes in the file cc13xxware/startup_files/ccfg.c.

[2019-01-30 16:46] JelmerT opened #82 "Improve version string"
There needs to be a better way to check which version of the script you're using. see #77
Getting the version from the git repo isn't really working.

[2019-01-30 16:48] JelmerT commented on #81
Just wipe the chip itself over JTAG. The changes you're making are for the firmware you want to flash, not the firmware that is already on the actual chip.

[2019-01-30 16:55] Mix213 commented on #81
I am sorry but it's not clear to me. How do I do that? Hardware connections? What program should i use? What commands? Is there a reference for it?

[2019-01-30 19:50] JelmerT commented on #81
Use TI CCS to wipe the chip, read the documentation on your hardware, here is a good place to start: http://dev.ti.com/tirex/#/?link=Software%2FSimpleLink%20CC13x0%20SDK%2FSimpleLink%20Academy

[2019-02-11 13:51] toothless90x opened #83 "CC1350 sensortag : write error "Send data (0x24)""
The device is hardwired for DIO 2 & 3 for Bootloader UART comm.
While trying to flash the board using the script, the following error turns.
terminal log also attached for the reference.
How to solve this ?

[screen1.log](https://github.com/JelmerT/cc2538-bsl/files/2851260/screen1.log)

[2019-02-11 15:49] JelmerT commented on #83
Can't see the log you linked

[2019-02-11 15:49] JelmerT commented on #81
Closing this since the problem doesn't seem to be related to this project

[2019-02-11 15:49] #81 closed

[2019-02-11 15:54] toothless90x commented on #83
Its the same file. I made sure it opens in any notepad.
[screen1.log](https://github.com/JelmerT/cc2538-bsl/files/2851815/screen1.log)

[2019-02-11 16:00] JelmerT commented on #83
My bad, addblocker was a little too blocky

[2019-02-11 16:02] JelmerT commented on #83
Does the error always come at the same time? It looks like communication is working, but then randomly fails.
Did you remove R21 and R22 on the board? And you properly connected ground?

[2019-02-11 16:10] toothless90x commented on #83
yes. always at happens.
Those R21 and R22 are removed for DIO2,3 connection.
Ground is connected properly.

[2019-02-11 16:17] JelmerT commented on #83
Just want to make sure the digital mic isn't interfering with the UART.

Not sure about this one. Have you tried a different source file? Maybe smaller to see what difference that that makes. And you could try slowing down the baudrate.

[2019-02-12 11:32] toothless90x commented on #83
For different source file, when I try to make .bin for hello-world with following cmd in git clone
`make TARGET=srf06-cc26xx BOARD=sensortag/cc1350 hello-world.bin`
the .bin file size is 131.1kb. The interesting factor is, for any test example when .bin is made, the file size is again 131.1 kb.
I dont know why it happens like this .

[2019-02-12 15:57] JelmerT commented on #83
I don't have contiki-ng setup right now, so I can't check. But can you try a different project that isn't hello-world?

[2019-02-12 16:01] g-oikonomou commented on #83
I would be very surprised to see a .bin file with a size other than exactly 128KB :)

[2019-02-12 16:04] g-oikonomou commented on #83
To the topic in hand, are you sure you are not simply falling victim to dodgy wires? What are you physical connections like? What do you have connected to what?

[2019-02-12 16:29] toothless90x commented on #83
Got it resolved. It was an voltage fluctuation from MOSFET (Used to power reset the Board-CC1350), which interrupts the Send data inbetween the process.

Connection: Host PC - FTDI - hardwired sensortag CC1350(mounted on custom made Mother board).

@JelmerT  Its turns out to be same size .bin (131.1Kb) for cc26xx-web-demo example also. :(
@g-oikonomou Regarding the .bin file issue, shall I open a

[2019-02-12 16:31] g-oikonomou commented on #83
The bin file size is not an issue, it's perfectly expected. Just don't try to estimate firmware code footprint by looking at the file size of the .bin. Use `arm-none-eabi-size` on the .elf. No need to open a separate thread.

[2019-02-12 16:35] JelmerT commented on #83
Great, looks like the problem was found, closing this.

Thanks for the help @g-oikonomou

[2019-02-12 16:35] #83 closed

[2019-02-18 18:15] mohanmaniramesh commented on #63
I also have the similar Issue:

I will explain step by step:

1) I have 10  openMote-B  Rev-1.4
2) I started working with RIOT. I'm confused where to and how to start so I mailed to RIOT Developer's
    they said  as you are a beginner you can  try  RIOT--TUTORIALS like that
    https://github.com/RIOT-OS/Tutorials
3) So I started working with the TUTORIALS, I have installed the necessary packages

[2019-02-20 05:27] mohanmaniramesh opened #84 "ERROR: Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)' With OPENMOTE-B and RIOT"
Hello all,
I'm getting this   Error
**ERROR: Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)'**
when am flashing the code second time
I will explain step by step:

1. I have 10  openMote-B  Rev-1.4
2. I started working with RIOT. I'm confused where to and how to start so I mailed to RIOT Developer's
   they said  as you are a beginner you can  try  RIOT--TUTORIALS like that
   **https://gith

[2019-02-28 02:34] JelmerT commented on #84
@mohanmaniramesh did you fix your problem with a JTAG programmer?
With the JTAG programmer you can find the right config until the bootloader works

[2019-02-28 02:45] mohanmaniramesh commented on #84
yes i did with the JTAG. but i didn't  solved  my bootloader  i'm
completely  using JTAG only for flash the program. what are modifications
i have to do , to use BSL programming  please help me

On Thu, 28 Feb 2019, 8:04 am Jelmer Tiete, <notifications@github.com> wrote:

[2019-02-28 03:28] JelmerT commented on #84
this is where the correct bits are set for the openmoteB https://github.com/RIOT-OS/RIOT/blob/master/boards/openmote-b/include/board.h

I can't find the schematics of the openmoteB, so I can't check them, but I'm assuming these are correct. (pin counting starts from 0) So try to flash a mote with the standard config and test the bootloader.

[2019-02-28 06:10] mohanmaniramesh commented on #84
Ok I'll  replace the board.h file
and Am attaching openMote-b Schematics
for your reference
Thank you

On Thu, 28 Feb 2019, 8:58 am Jelmer Tiete, <notifications@github.com> wrote:

[2019-03-12 20:48] Gateworks opened #85 "CC1352 support"
I've tried this script on a CC1352P and found the following:
- device_id:0x2bb4102f
- wafer_id:0xbb41
- pg_rev:2
user_id:0x2282f00
rev_minor=0xff
FLASH_SIZE=0x2c

In the case of the CC1352 the FLASH_SIZE sector size is 8192 instead of 4096 so the following patch would make this work for CC1352 but I'm sure that would break some other CC13xx variant. What is the right way to detect the difference b

[2019-03-17 20:56] JelmerT commented on #85
Thanks for figuring this out and reporting back!

If all CC1352 have this wafer_id and the same sector size, we can use the `wafer_id` to select the sector size.
Feel free to submit a pull for this, if I find some time I can add it and I'll ping back here for you to test.

[2019-03-20 10:28] sebbad opened #86 "ERROR: string argument without an encoding"
Running cc2538-bsl on Mac OS with python 3.7 provides the following errors:

"ERROR: string argument without an encoding"

This seems to be related to the handling of bytearrays in recent python versions. If I understand it correctly recent python version require the encoding to be explicitly stated in the bytearray function if the parameter is a string. This seems to be the case in the script. Wh

[2019-03-26 20:20] JelmerT commented on #86
Thanks for reporting this, interesting that this hasn't come up earlier.

Feel free to submit a PR adding the encoding.

[2019-09-12 05:47] JelmerT commented on #12
Solved by #87!

[2019-09-12 05:47] #12 closed

[2019-12-10 03:32] omerk commented on #85
Added a few notes about this on #88

[2019-12-10 03:45] omerk opened #89 "Publish on PyPI?"
With a whole bunch of new TI parts supporting BSL (also a good time to rename?), it would be really handy if this script could be installed with a simple: `pip install cc2538-bsl`

A very similar example is the [stm32loader](https://pypi.org/project/stm32loader/) project.

Not a Python expert but I can have a go at modularising and adding the necessary bits if this is something you would consider?

[2019-12-11 23:02] LuighiV commented on #57
That article is pretty interesting beacuse it explains that to use the script it is required that the chip has the bootloader enabled. Something important to highlight is that the sample image provided with chips doesn't have this mode enabled by default. So, for the first time, it is required to flash them using the Smart RF Tool or the Uniflash tool http://www.ti.com/tool/download/UNIFLASH  with

[2019-12-22 23:11] JelmerT commented on #85
Closing this after #88 thanks, @Gateworks !

Opening a new issue related to updating the function names to also encompass CC26x2

[2019-12-22 23:11] #85 closed

[2019-12-22 23:17] JelmerT commented on #89
Pretty sure it's already on there: https://pypi.org/project/cc2538/
Not maintained by me though, think it's maintained by @remyleone .

And yes, we should rename. Any suggestions? `Ti-bsl`, `CC-bsl`?

[2019-12-22 23:19] JelmerT commented on #84
Closing this, feel free to re-open if still having issues

[2019-12-22 23:19] #84 closed

[2020-02-07 02:10] JelmerT opened #91 "add cmd line argument for cmdMemWrite"
With #90 we can now add the proper cmd line argument for the script

[2020-04-05 17:35] RenaKunisaki commented on #28
I just had this problem with a CC2640. It got as far as 0x0001FF80 before timing out on GetStatus. It seems to have bricked the chip, as it no longer turns on the LED when reset, or responds to UART at all. (I should be able to fix it via JTAG, though.)

The chip is in a custom PCB, so there could very well be a hardware issue, but do you have any ideas?

[2020-04-07 20:01] JelmerT commented on #28
@RenaKunisaki this sounds like a hardware problem where the serial link timing gets messed up. Are you using a VM like above? Can you replace the usb-uart converter, different pc, ... try to eliminate and swap out until you found which part is making the communication stop.

[2020-04-07 22:01] RenaKunisaki commented on #28
I'm not using a VM, just Arch Linux. I can try a different converter once I manage to get JTAG working. Do you know what kind of hardware problem might cause this?

[2020-04-07 22:48] JelmerT commented on #28
Anything between chip and your serial driver on the pc basically.
If you're running a native OS on the pc side, I'd look at the hardware. Maybe try a known good board with the same serial converter, and see if that times-out.

[2020-04-10 19:51] RenaKunisaki commented on #28
Unfortunately I don't have a known good board. However I've bricked a second chip, under exactly the same condition. It was able to read flash just fine (it spat out all 0xFF, but I assume the flash is empty), then failed writing at 0x1FF800, and now neither UART nor JTAG will respond. I assume it's writing wrong data and flipping the oh-so-handy "security" bits to lock those interfaces...

[2020-04-10 22:08] JelmerT commented on #28
Can you check your hex file and make sure you arent making any changes to the `CCFG` sector that could possibly have disable any TAPs?

Since your problem seems different from this issue, care to open a new one and describe all the things you've already tried?

[2020-04-11 20:05] RenaKunisaki opened #95 "Failed flashing/bricking CC2640"
I've designed a [custom board](https://easyeda.com/editor#id=2955f4a7a5fc4deeb59646e894aad25a)* using the CC2640, and tried twice to use this script to program it. In both cases, it was able to read flash OK, but failed during the flashing process:

[code]

This seems to have also locked or damaged the chips, as they now neither turn on the LED (DIO_9) at startup nor respond to UART or JTAG. (Trie

[2020-04-11 20:06] RenaKunisaki commented on #95
http://ix.io/2hCV apparently I can't attach the hex file  here

[2020-04-16 20:48] JelmerT commented on #95
The link to your board doesnt seem to be working.
Since you seem to have a working JTAG interface, can you try flashing a known good hex file on a new board using jtag? This would clear up a problem with the binary or the script.

You mention reading the flash produces an empty file, but also mention that a LED used to turn on, so was there frimware on the chip before or not? Since without firmwar

[2020-04-16 21:07] JelmerT commented on #95
Looks to me like your firmware disables the PRCM TAP, which probably would have an influence on jtag and bootloader. Not sure about this register location though, haven't worked with CC26xx in a while.
![Screen Shot 2020-04-16 at 14 00 55](https://user-images.githubusercontent.com/873684/79506398-bc830780-7fea-11ea-9445-82a080360f16.png)

[2020-04-17 16:32] RenaKunisaki commented on #95
Interesting. It looks like it put 0xC500C5FF at 0x1FFE4, but `BOOTLOADER_ENABLE` is at 0x1FFD8 and should be 0xC500xxC5. I'm totally new to TI's stuff so I don't know why it would have done that. I wonder if this hex file has some kind of header that's not meant to be sent to the chip?

I think the LED being turned on is a side effect of the bootloader (which isn't in flash), as it configures DIO9

[2020-06-03 11:22] fengjikui opened #96 "how to use --bootloader-invert-lines ?"
hello JelmerT:
I am using you code to flash the image to cc2650 LaunchPad, I run the cmd like this:
'''python ../../tools/cc2538-bsl/cc2538-bsl.py -e -w -v -b 115200 -e -w -v build/cc26x0-cc13x0/launchpad/cc2650/hello-world.bin --bootloader-invert-lines'''

it work not so good:
Opening port /dev/tty.usbmodemL10002881, baud 115200
Reading data from build/cc26x0-cc13x0/launchpad/cc2650/hello-world.b

[2020-06-09 09:53] Hedda opened #97 "[REQUEST] Ability to upgrade flash Texas Instrument CC2530 and CC2531 firmware via its bootloader interface"
@JelmerT Requesting this now as @puddly posted in https://github.com/zha-ng/zigpy-znp/issues/14 saying that he implemented the MT command based serial bootloader protocol ([f67e8a4](https://github.com/zha-ng/zigpy-znp/commit/f67e8a48f9a0f9bcf400a6229e2d14b82c3aae70)) implemented in CC2530 and CC2531 bootloader interface as used by the Windows utility mentioned in [Koenkk/zigbee2mqtt#320](https://g

[2020-06-11 05:50] JelmerT commented on #97
Well that's not great.

It does seem to be the only serial bootloader that's widespread for the CC2530 and 31? And a derived (compatible?) version for CC2510, CC2511, CC1110 and CC1111 exists too according to https://www.ti.com/lit/an/swra371a/swra371a.pdf
Looks like the v2 version commands are defined here: https://github.com/ClementXu/Z-Stack-Home-1.2.2a.44539/blob/master/Projects/zstack/Utiliti

[2020-06-11 05:58] JelmerT commented on #96
To auto start the bootloader via the serial port, you need to have hardware support. the DTR and RTS pins of your serial port need to be connected to the reset and bootloader pins on your chip.
I'm not sure if this is the case on the Launchpad, but I'm guessing this is your issue.

[2020-06-11 05:58] #96 closed

[2020-06-11 06:05] JelmerT commented on #95
Checking the bootloader config bits on the input file would indeed be a very welcome feature. But It can get pretty tricky and potentially annoying too. Pull requests are always welcome!

Closing this for now, let me know if you're still having issues.

[2020-06-11 06:05] #95 closed

[2020-06-11 06:50] Hedda commented on #97
Maybe ask if @Koenkk nicely if he happens to know any tricks on figuring out which chip exactly you're talking to as I know he has loads of experience from zigbee-herdsman, plus IIRC I read somewhere that he was thinking about implementing TI adapter flashing from Zigbee2mqtt.

PS: Tip on hardware to buy is the pre-flashed CC2531 dongle that ITead sells https://www.itead.cc/cc2531-usb-dongle.html

[2020-06-11 06:51] Hedda commented on #97
Anyway, to clarify the limitations a couple of key factors:

- It is a requirement that this bootloader has to have already been flashed to the chip before you can actually use it these MT commands (TI management and testing protocol).

- It only present in Z-Stack Home 1.2.x and Z-Stack 3.0.x (so no longer in Z-Stack 3.1.x or newer).

In any case, as I understand it, Z-Stack 3.0.x is officially t

[2020-06-11 08:13] fengjikui commented on #96
thank you so much, I will check it!

[2020-06-11 17:37] RenaKunisaki commented on #95
I only mentioned checking the bootloader bits because I thought that was already an implemented feature that had somehow failed. Sorry for any confusion.

[2020-06-11 18:57] puddly commented on #97
Oh, I guess it is documented in `swra371a.pdf`, including the CRC location. That could have saved me some time. I still can't get my CRC verification code working (the bootloader computes it over all the image bytes `+ b'\x00\x00'`, skipping the two CRC bytes).

[2020-06-29 12:20] Hedda commented on #97
Any further thoughts on this?

https://e2e.ti.com/support/wireless-connectivity/sub-1-ghz/f/156/t/585437

http://www.ti.com/litv/zip/swra371a (swra371a.zip with example code)

[2020-07-04 03:21] puddly commented on #97
Finally got it: the CRC is computed by skipping the two *pairs* of CRC bytes: https://github.com/zha-ng/zigpy-znp/blob/7e9367480ec3a7602c215c59c27a9bafe604a28b/zigpy_znp/tools/flash_write.py#L21-L56

At this point the implementation in `zigpy_znp.tools.flash_write` is stable-ish.

If you manage to catch the chip while it's still in its bootloader, you should be able to tell:

[code]

Otherwise, yo

[2020-08-13 05:57] Hedda commented on #97
@JelmerT any further thoughts on application firmware upgrade for C2530 and CC2531 via your cc2538-bsl tool?

As @puddly wrote above, his latest revisions of zigpy_znp.tools.flash_write are now "stable-ish"  enough to call "ALPHA":

https://github.com/zha-ng/zigpy-znp/tree/dev/zigpy_znp/tools

"You can flash CC2531ZNP-without-SBL.bin to your stick directly with zigpy_znp: python -m zigpy_znp.tools

[2020-08-13 09:17] JelmerT commented on #97
Sorry for the delay on this.

I'm open to PRs to support this bootloader. As long as current features and functions of the already supported chips aren't changed and implementation is as user friendly as possible (read "it just works").

I currently don't have the bandwidth to do any active development on this though. I can do code review.

[2020-08-23 01:48] dmhuisma opened #98 "import as module"
Can this be imported as a module instead of executing using cli? I am trying to bundle my application using pyinstaller, with it invoking the command "python3 cc2538-bsl.py -p /dev/ttyUSB0 -e -w -v firmware.hex" using subprocess.run. It seems to try to use my pc's python environment instead of the bundled runtime (it could be argued that this should be handled by pyinstaller, but I am looking into

[2020-08-23 19:37] dmhuisma commented on #98
I have found a workaround.

I used pyinstaller to create an executable out of cc2538-bsl. Now I don't have to worry about the python environment when I execute it.

I will leave this issue open because I think it is still a good idea to be able to import this as a module, so that it can be easily used within other python projects, especially when it must be bundled and deployed like in my case.

[2020-08-23 19:40] JelmerT commented on #98
This is indeed definitely a feature we want, will need to look into it how much work and changes it would be.
PRs on this more than welcome!

[2020-08-23 19:47] JelmerT commented on #63
@dony71 You'd need to connect to the chip with a jtag programmer to enable the serial bootloader.

quick google search brought me to this https://gist.github.com/hwhw/fc43892785aa84913d03495c97b0f25a which seems like a good explanation.

[2020-08-27 00:36] sabas1080 opened #99 "CC1352 bootloader"
I am trying to load the bootloader to cc1352, if I erase completely with uniflash I can program the new firmware, but once with the new firmware I can't reload other firmware

Thanks

[2020-10-07 19:57] wojciechczyz opened #100 "Fails to execute on MacOS Catalina cc2538-bsl.py:971: SyntaxWarning: "is not" with a literal. Did you mean "!="? if int(value) % int(device.page_size) is not 0:"
python cc2538-bsl.py -h
/Users/w/cc2538-bsl/cc2538-bsl.py:971: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if int(value) % int(device.page_size) is not 0:
/Users/w/cc2538-bsl/cc2538-bsl.py:976: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if int(value, 16) % int(device.page_size) is not 0:
Traceback (most recent call last):
  File "/Users/w/cc2538-bsl/cc2538-bsl.py

[2020-10-07 21:49] JelmerT commented on #100
This looks like an issue in the intelHex library, I can't reproduce it though.

Could you check your intelHex lib version with

[code]

[2020-10-07 21:54] JelmerT commented on #100
the 2 SyntaxWarnings should be fixed with 733e6f5

[2020-10-07 22:43] wojciechczyz commented on #100
Hi,

I have the same version you have got.
Python is 3.9.05b.
Strange that intelHex library is triggereed when I am just doing -h , can we avoid it?

Cheers,
Wojciech

[2020-10-08 07:57] wojciechczyz commented on #100
Thank you for the correction, now I am getting only this:
python cc2538-bsl.py -h

Traceback (most recent call last):
  File "/Users/w/cc2538-bsl/cc2538-bsl.py", line 59, in <module>
    from intelhex import IntelHex
  File "/Users/w/.pyenv/versions/3.9.0b5/lib/python3.9/site-packages/intelhex/__init__.py", line 44, in <module>
    from intelhex.compat import (
  File "/Users/w/.pyenv/versions/3.9

[2020-10-08 08:49] wojciechczyz commented on #100
Remaining problem is already reported in intelhex
https://github.com/python-intelhex/intelhex/issues/45

[2020-10-08 08:49] #100 closed

[2020-10-17 17:52] omerk commented on #99
@sabas1080 It is very likely that the firmware you are flashing has a bootloader configuration that doesn't match your BSL button/pin or trigger level. It could also just be disabled. See notes on relevant config bits in CCFG here: https://github.com/JelmerT/cc2538-bsl#cc26xx-and-cc13xx

[2020-11-03 21:44] mfaccin commented on #99
Firstly, thanks for the tool. It is very interesting and easy to use.

I have a similar problem. My custom board does not have a GPIO available to allocate the `BL_PIN_NUMBER` and therefore it is not possible to access the backdoor serial bootloader. Do you know if there is any workaround to update the firmware without a GPIO available?
Searching on [swra466c](https://www.ti.com/lit/an/swra466c/sw

[2020-11-03 21:59] omerk commented on #99
@mfaccin See this thread for an interesting idea from TI: https://e2e.ti.com/support/wireless-connectivity/zigbee-and-thread/f/158/t/902829?CC2652R-Jump-to-trigger-ROM-bootloader-from-a-running-program-no-external-GPIO-

Essentially: If you have control of the UART pins as GPIO on the host then you might be able to use that as your backdoor enable pin.

[2020-11-04 14:47] mfaccin commented on #99
Thanks for the quick feedback @omerk. I had understood reading the thread it won't be possible without a GPIO after reset the MCU. I'll check more deeply and carefully, thanks!

[2020-11-25 12:19] mfaccin commented on #89
IMHO `cc-bsl` or even `cc-loader` are good choices. :)

[2020-11-25 13:42] g-oikonomou commented on #89
cc-bsl sounds good. In the past I have also thought of simple-bsl

[2020-11-25 13:44] omerk commented on #89
Another vote for cc-bsl here

On Wed, 25 Nov 2020 at 13:42, George Oikonomou <notifications@github.com>
wrote:

[2020-11-26 06:28] JelmerT commented on #41
Time for a (non-binding) poll:

/polls Ti-BSL simple-bsl cc-bsl cc2538-bsl cc-Loader "Other (comment)"

[2020-11-26 06:32] JelmerT opened #103 "New script name poll - please vote!"
See #41 and #89
Time for a (non-binding) poll:

[![](https://api.gh-polls.com/poll/01ER1M8B64HMA6XEX2XDEMGQZS/Ti-BSL)](https://api.gh-polls.com/poll/01ER1M8B64HMA6XEX2XDEMGQZS/Ti-BSL/vote)
[![](https://api.gh-polls.com/poll/01ER1M8B64HMA6XEX2XDEMGQZS/simple-bsl)](https://api.gh-polls.com/poll/01ER1M8B64HMA6XEX2XDEMGQZS/simple-bsl/vote)
[![](https://api.gh-polls.com/poll/01ER1M8B64HMA6XEX2XDEMGQZS/

[2020-11-26 06:39] JelmerT commented on #89
Lets put it to a vote! please ll vote in #103
Outcome doesn't mean it will become that name, this is just to see if we have a clear winner.

[2020-11-26 06:42] JelmerT commented on #103
I like `simple-bsl` since the idea of the script is that it can support multiple BSLs in the future, not just Ti or CC ones.
The code should also be pretty modular to be able to be expanded in this way.

[2020-11-26 12:33] omerk commented on #103
While having a name that will allow future expandability makes sense, realistically what are the chances of other devices being added? If the answer is "likely", then `simple-bsl` would do a good job as a generic name. If it is more of a "would be nice if it were to happen", my vote is on `cc-bsl` as it is what the script is, in its current state.

[2020-12-17 10:57] jeandudey commented on #99
Happens to me as well on a cc1312.

Can be easily reproduced flashing `examples/hello-world` from RIOT-OS.

[code]

I've noticed that flashing the same binary can work every time, and when trying to flash another (with a slighly modification) for example, it will stop working and 0x44 command statuses will start to pop out. So, as long as the binary is the same, it will succeed. The bootloader con

[2020-12-22 03:41] Gibbz opened #104 "ERROR: local variable 'chip' referenced before assignment"
Running the command to flash my zzh.
./cc2538-bsl.py -p /dev/ttyUSB0 -e -v -w blink.bin

I get the following error:
[code]

It looks like the error is from the following line of python. Chip value is not assigned.
[code]

[2020-12-22 03:43] Gibbz commented on #104
Ah! looks like the issue was I was running the latest release, and not the master version!

[2020-12-22 03:43] #104 closed

[2020-12-23 17:45] olili opened #105 "CC2652P support?"
Thx for the great script.

In my opinion/perception the CC2652P is not yet fully supported by your script.
The chip is identified as CC1352P and "Verify" is not correctly implemented for it.

Are there any plans to add this features?

O.

[2021-01-02 17:27] inspire1969 commented on #63
Hello Everyone..!! I am getting this error
ERROR: Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)'
../../platform/openmote-cc2538/Makefile.openmote-cc2538:51: recipe for target 'openmote-demo.upload' failed
make: *** [openmote-demo.upload] Error 1
rm openmote-demo.co obj_openmote-cc2538/startup-gcc.o

I have read all the things which are mentioned above and applied it also but still it showi

[2021-01-06 18:02] dmitriy-serdyuk opened #108 "[Question] Cannot receive ACK after synchronization"
I am trying to flash a [device](https://makerspot.com/cc2640-bluetooth-low-energy-ble-usb-hid-dongle/) with cc2640R2F chip. This chip is connected to HID-to-UART interface CP2110.

I was able to establish a UART connection through HID using code based on [this](github.com/rginda/pycp2110). [Here](https://gist.github.com/dmitriy-serdyuk/8ec1db9d6d654a0391d105dbd54206bb) is a proxy serial interface

[2021-01-20 08:03] JelmerT commented on #99
@jeandudey did you ever found what was it that made the BL stop communicating? Do we need to add any extra checks in the readme?

[2021-01-20 08:08] JelmerT commented on #103
The results are pretty clear! `cc-bsl` it is!

I will rename the repo and script and bump the version.

I'll try to warn and fix any tools/repos that use the script.

[2021-01-20 08:08] #103 closed

[2021-01-20 08:11] JelmerT commented on #105
I currently don't have the bandwidth to implement/fix support for `CC2652P`, but I higly welcome PRs that add support!

If you can't add support yourself, can you describe what and where things are going wrong?

[2021-01-20 08:23] JelmerT commented on #108
Do you have any schematics of the device?

Are you sure DTR and RTS pins are connected to the correct bootloader and reset pins on the cc2640R2F?

It looks like the bootloader is not being started. But the ack byte after the reset is interesting. Are you sure the bootloader is enabled and uses the correct pins in the firmware that's running on the cc2640R2F?

[2021-01-20 08:28] JelmerT commented on #56
I guess this feature was implemented a while ago. Needs HW support of course.
Closing!

[2021-01-20 08:28] #56 closed

[2021-01-20 08:39] JelmerT commented on #86
@sebbad could you describe the steps to reproduce this bug?

[2021-01-20 12:00] omerk commented on #105
CC2652 and CC1352 devices are pretty much identical (aside from radios), while chip ID needs some work programming and verification does work fine:

[code]

@olili are you able to use BSL with Flash Programmer 2 on this board?

[2021-01-20 12:03] omerk commented on #89
With the new name established in #103, it would be great if the PyPi package is updated/renamed once repo is renamed.

If you need any volunteers for upkeep etc I am happy to spend some time on this @JelmerT

[2021-01-20 15:24] dmitriy-serdyuk commented on #108
Yeah, here [CC264 Dongle v02 Schematics.pdf](https://github.com/JelmerT/cc2538-bsl/files/5843417/CC264.Dongle.v02.Schematics.pdf). I am pretty sure that the pins are correct. According to the PDF, the reset pin is connected to GPIO.8 and the bootloader pin to GPIO.9. This corresponds to flicking a bit number [13 and 12](https://gist.github.com/dmitriy-serdyuk/8ec1db9d6d654a0391d105dbd54206bb#file-

[2021-01-20 17:07] jeandudey commented on #99
@JelmerT I've managed to flash the devices at various times, however had to do a CLI tool in Rust since I'm not too well versed on python. I found out that first the sectors are to be written need to be erased, otherwise it will return `0x44` status codes.

First I erase the sectors with [`erase_flash_range`](https://github.com/btcven/ti-bootloader/blob/main/src/util.rs#L46), then I write the bina

[2021-02-02 12:11] Hedda opened #109 "[RQUEST] Feature for automatic NVRAM Backup before upgrading and restore after"
I would like to suggest a feature for automatic NVRAM Backup before upgrading and automatic NVRAM restore after the upgrade.

FYI, zigpy-znp can perform NVRAM backup and restore -> https://github.com/zigpy/zigpy-znp#nvram

@JelmerT Regarding this you might also be interested in the discussions in https://github.com/zigpy/zigpy/issues/557 and  https://github.com/Koenkk/zigbee-herdsman/pull/303

[2021-04-21 22:36] felipefbs commented on #86
I have the same issue here. I run through all the c2538-bsl.py code and identified in which line (139) the problem is.

I'm gonna open a PR soon :)

[2021-04-21 22:56] felipefbs commented on #86
I had this same issue, and I run through the cc2538-bsl.py code and found that the error it's on the byte array casting. But I found that I was running an old version and using the new version I had no problems. Seems that everything its good now.
[code]

[2021-04-28 00:41] sabas1080 opened #110 "Writing 360382 bytes starting at address 0x00000000 ERROR: Invalid data size: 360382. Size must be a multiple of 4."
I am using code composer 10.2 and SDK 4.40

I have the next error with my file hex:

[code]

But in uniflash work fine

[2021-04-28 04:41] JelmerT commented on #110
This sounds like you're not using the correct file to flash, are you sure you're using the raw bin or hex file?

[2021-04-28 05:03] sabas1080 commented on #110
Yes, I am using this hex
[sniffer_fw.hex.zip](https://github.com/JelmerT/cc2538-bsl/files/6389192/sniffer_fw.hex.zip)

if I remove validation line, i have correct upload

[2021-04-28 05:45] JelmerT commented on #110
Which chip are you programming?

According to https://www.ti.com/lit/ug/swru333a/swru333a.pdf the download command needs a size that is a multiple of 4, and that's what the script is checking for.

[2021-04-28 15:15] sabas1080 commented on #110
The chip is CC1352P1F3

[2021-04-30 19:21] JelmerT commented on #86
@sebbad can you confirm your issue is fixed with the latest version of the script?

[2021-04-30 20:40] sabas1080 commented on #110
it seems the problem comes from the compiler

Issue related: https://e2e.ti.com/support/wireless-connectivity/sub-1-ghz/f/sub-1-ghz-forum/997796/cc1352p-file-hex-not-working-but-file-out-ok-with-example-sniffer/3686412#3686412

[2021-07-16 20:10] Nornode opened #111 "SyntaxError: invalid syntax (Line 82)"
Trying:
**sudo python ./cc2538-bsl.py -p "/dev/ttyUSB1" -ewv "CC2652RB_coordinator_20210120.hex"**
results in:

[code]

[code]
And  Python 3.7.7

[2021-07-21 15:43] wilmardo commented on #105
I tried flashing on the `Ebyte E72-2G4M20S1E` today but I can't get it to pass the `(0x24)0x00028628` byte. It will then timeout:

[code]

It seems to connect just fine:
[code]

@omerk Did it just work out of the box for you? Did you connect a BSL pin? I now just wire TX/RX and VCC/GND to my CP2102.

[2021-07-21 15:46] omerk commented on #105
@wilmardo I need to check but think I had to do a mass erase before I could program it, those modules might ship with BSL disabled.

[2021-07-27 08:13] wilmardo commented on #105
Little update, I can confirm that is works fine with the CC2652P. I hooked up the 3.3v on the PCB but that wasn't connected, it uses a converter from 5v. So when I connected 5v to the 5v pin everything went smooth.

For anyone stumbling on this issue in the future, you CAN read hardware info etc from just the RX/TX power. When flashing fails, make sure the chip is getting proper power.

[2021-10-26 15:40] Caian opened #112 "Flashing z-stack examples fail with error "Timeout waiting for ACK/NACK after 'Get Status (0x23)'""
I'm having the following error when trying to flash z-stack examples that I compiled using IAR:

[code]

On the other hand, firmwares that I find online, like this one: https://github.com/jethome-ru/zigbee-firmware flash just fine. I've tried `cc2538-bsl.py -p /dev/serial0 -w <firmware>` and `cc2538-bsl.py -p /dev/serial0 -e -v -w <firmware>` with both raw binaries and intel hex. The result is alw

[2021-11-04 17:07] sshaikh opened #113 "Automatically start BSL mode on Itead Sonoff USB stick"
I successfully used this script to flash an "ITead Sonoff Zigbee 3.0 USB Dongle Plus adapter based on Texas Instruments CC2652P", so thank you for the script.

There are two ways to put this model into BSL mode, pressing the button on the board (typically requiring assembly) or running a python script to do it via software.

I don't know if this is a feature of the stick, the UART bridge or the CC

[2021-11-04 17:15] sshaikh commented on #113
[uartLog.txt](https://github.com/JelmerT/cc2538-bsl/files/7476867/uartLog.txt)

This is the Python script originally provided. It is designed to be run on Windows but can be made generic by deleting the COM suffix attached to the name when selecting the device.

[2021-11-04 20:27] JelmerT commented on #113
Thanks for that script @sshaikh . It looks like this is a simple toggle via the RTS and DTS lines.
This script should already be able to do this on its own, have you tried playing with these options?

[2021-11-04 20:34] JelmerT commented on #112
That's an odd place for it to error out. What I'm suspecting is that you're writing to a memory address that the chip is not very happy with and then stops responding.
Does your firmware work if you flash it via jtag?

[2021-11-04 20:49] Caian commented on #112
Yes, I've managed to find a custom build of OpenOCD that flashes and verifies it just fine. I've also tried to reduce the baud to 9600 with no success.

I tested basic stuff in the program, like simple IO and UART, but I can't fully confirm that the flash was a success because it was meant to be used with a developer board.

[2021-11-04 21:09] sshaikh commented on #113
I have no idea how I missed those. I'll assume that works, unless you want a positive confirmation?

[2021-11-05 16:23] sshaikh commented on #113
FWIW neither of these options (or any combination of them) enabled BSL:

[code]

[2021-11-06 01:34] JelmerT commented on #113
Next step would be to check the schematic of the USB dongle and see how the RTS and DTR lines are connected to make sure they're toggled correctly. Maybe probe them with both scripts and see the difference.
Do you know if schematics are available somewhere?
Which serial-USB chip are they using?

[2021-11-07 17:30] sshaikh commented on #113
`lsusb` reports:

[code]

More information here:

https://itead.cc/product/sonoff-zigbee-3-0-usb-dongle-plus/

But shouldn't the script be explicit about what is required? If this is out of the scope of bsl, then I'm happy to use the peculiar uartlog script for my purposes.

[2021-11-08 18:39] JelmerT commented on #113
This is the code in their script that enters the bootloader:
[code]
So it looks like both pins are active low, and RTS is connected to reset and DTR is connected to the bootloader pin. Which should be the same as in the standard configuration in this script.
So the only difference I'm seeing is the extra delays in their script.
Try adding some delays in the same spots, and see if that makes it wor

[2021-11-08 18:41] sshaikh commented on #113
Just in case I've done it incorrectly, I was just adding the `--bootloader-active-high parameter` to the normal flashing command.

[2021-11-08 18:52] JelmerT commented on #113
yes that's the correct way, but it looks like you shouldn't need it. (but still try it, together with `--bootloader-invert-lines`)

I'm guessing the delays are the issue here. You can verify with a scope on the reset and bootloader lines, or just try it with some trial and error.

[2021-11-09 11:51] Hedda commented on #113
Nice with option to automatically try both high and low signals to make adapter enter bootloader when Auto BSL is supported!

Auto BSL will also be supported by upcoming zzhp and zzhp-lite adapters by Electrolama:

https://electrolama.com/radio-docs/bsl/#auto-bsl

I have also confirmed that running the attached `uartLog.py` script does indeed make ITead's Sonoff Zigbee 3.0 Plus adapter enter bootl

[2021-11-09 22:23] JelmerT commented on #113
@Hedda we're trying to not have to rely on `uartlog.py` though. Can you confirm that `cc-2538.py` can start the bootloader?

[2021-11-10 09:53] Hedda commented on #113
I know, only wanted to let you know that I can confirm that the auto BSL feature is supported by the hardware and preflashed firmware, even though it is currently not working in the `cc-2538.py` script.

Can you confirm that `cc-2538.py` can start the bootloader?

[2021-11-10 10:13] Hedda commented on #113
I can confirm that this Sonoff USB Plus dongle uses Silicon Labs CP2102N (USBXpress Family) according to ITead's specifications.

https://www.silabs.com/documents/public/data-sheets/cp2102n-datasheet.pdf

So need to use CP210x USB to UART Bridge VCP Drivers if using Windows OS:

https://www.silabs.com/developers/usb-to-uart-bridge-vcp-drivers

Noted there that ITead themselves are referring to the

[2021-11-10 10:24] Hedda commented on #113
Probably not related but noted there are some errata posted for CP2102N which lists bugs and workarounds:

https://www.silabs.com/documents/public/errata/cp2102n-errata.pdf

[2021-11-10 12:24] Hedda commented on #113
ESP32/ESP8266 adapters with CP2102N A01 revision chips seem to have had similar issues on Windows OS. Some reports for those ESP devices say issue is fixed in hardware on CP2102N A02 revision chips and latest VCP drivers for Windows.

For CP2102N A01 revision chips they worked arroind the issues by adding more and longer delays as JelmerT suggest.

Also, looks like Sonoff might have gotten part of

[2021-11-16 08:02] Hedda commented on #113
@guozi7788 Any chance you could report this issue to relevant personnel at ITead/Sonoff and get them to submit a fix in a patch?

Summery, "Auto BSL" is currently not working in the c2538-bsl script on Windows OS (Windows 10) with the SONOFF Zigbee 3.0 USB Dongle Plus by ITead even though its hardware does support "Auto BSL", this is likely due to the CP2102N USB-to-UART chip would need some addit

[2021-11-16 11:09] guozi7788 commented on #113
@Hedda
thanks for your advice.

uartLog.py is only used as a production testing tool to verify whether the dongle enters the boot mode, and it has not been given more uses.

As far as I know, the product manager is evaluating your needs，and you can check with your previous contacts for relevant progress.

[2021-11-16 12:12] Hedda commented on #113
Actually, uartLog.py as a zip file with it is attached to https://sonoff.tech/wp-content/uploads/2021/09/Zigbee-3.0-USB-dongle-plus-firmware-flashing-1-1.docx which is linked to from https://sonoff.tech/product-review/zigbee-3-0-usb-dongle-plus/ so FYI, anyone who bought the Sonoff Plus Dongle who want to upgrade the firmware is currently likely to follow that document and many will thus probably

[2021-11-16 22:44] JelmerT commented on #113
Could you try the version in this branch: https://github.com/JelmerT/cc2538-bsl/tree/feature/ITead_Sonoff_Zigbee-delay

Try it:
- without options
- with `--bootloader-invert-lines`
- with `--bootloader-active-high`
- with both `--bootloader-active-high --bootloader-invert-lines`

if none of those work, try increasing the delay https://github.com/JelmerT/cc2538-bsl/blob/efc94127624e08fce914ea88f56f

[2021-11-17 10:33] guozi7788 commented on #113
@Hedda
I made a temporary modification and added a ‘sonoff’ parameter to automatically enter boot.

**python cc2538-bsl.py -p COM19 -evw CC1352P2_CC2652P_launchpad_coordinator_20210708.bin sonoff**

I tested it on windows and it looked like it worked correctly, you can try it.

[https://github.com/guozi7788/cc2538-bsl/blob/master/cc2538-bsl.py](url)

[2021-11-17 12:08] Hedda commented on #113
@JelmerT Have now tested each of those options on my Windows 10 computer increasing the delay in that `time.sleep(0.1)` on line 239 testing 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 08., 0.9, and 1 but unfortunatly no better result. Keep getting the same timeout error:

 `ERROR: Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)' `

[2021-11-17 12:10] Hedda commented on #113
@guozi7788 tested and https://github.com/guozi7788/cc2538-bsl/blob/master/cc2538-bsl.py it works with the "sonoff" argument.

https://github.com/guozi7788/cc2538-bsl/commit/9f9060bcfcc0671e55934093aa1f952adf212123

Looks more complicated than adding some delays but that does indeed work for me with Sonoff Plus Dongle on Windows 10 OS.

[2021-11-17 13:32] dm82m commented on #113
also working on mac here:

[code]

[2021-11-17 22:34] JelmerT commented on #113
@guozi7788 that's a great temp fix, but I can't pull that into the script of course. It's basically just the 2 separate scripts in the same file.

I don't have the hardware, so I can't look further into this. If anyone is willing to send me the HW I should be able to connect it to a logic analyzer or scope and see what's going on.

I more than welcome any PRs that integrate the functionality into

[2021-11-18 08:29] Hedda commented on #113
That is fully understandable. Hope that ITead/Sonoff can ship you a free dongle so that you can take a deeper look at this!

[2021-11-18 10:42] Hedda commented on #113
FYI, according to comment in this discussion on the is a modified version of BSL Scripter that also got BSL working with CP2102:

https://e2e.ti.com/support/microcontrollers/msp-low-power-microcontrollers-group/msp430/f/msp-low-power-microcontroller-forum/802610/msp430f6736-msp430f6xxx-uart-bootloader-via-usb-bridge-ic?ReplyFilter=Answers&ReplySortBy=Answers&ReplySortOrder=Descending

That discuss

[2021-11-19 10:03] Hedda commented on #113
@chiakikato read in https://github.com/Koenkk/zigbee2mqtt/discussions/8840 you have access to Sonoff Zigbee 3.0 USB Dongle Plus and already done some analyzing of it, any chance you could analyze further to find exact invocation sequence and pattern needed to invoke "Auto BLS"?

[2021-11-26 09:13] JelmerT commented on #113
I got my hands on a unit and have implemented the correct sequence to start the bootloader automatically.

The new option is now `--bootloader-sonoff-usb`, and you can find the PR here #114
Please test and add any issues to the PR.

Thanks everyone!

[2021-11-26 10:01] Hedda commented on #113
Nice! Will try to get time to test this weekend. If and when we know it is working will the "sonoff" parameter still be required?

Could otherwise CP2102 UART-to-USB chip or just USB "description" be detected and automatically use the correct sequence?

[2021-11-26 17:53] JelmerT commented on #113
the needed sequence between the "standard" connection (RTS and DTR connected 1 to 1 to reset and the bootloader pin) and the connection in the sonoff stick is quite different. So I don't think we could do them both automatically, I'd need to test with some different hardware though. If we could that'd be great, since then it would be transparent for all hardware.
Another option is to try 1 sequenc

[2021-11-27 19:47] charraeus opened #115 "Verify CRC32 results in error"
I am using your script to flash a **2652RB-F1-chip** on [sla.sh's CC2652RB development stick ](https://slae.sh). At the end of programming the CRC32-validation reports "verified match: (...)".  But after doing a manual verify via `sudo python cc2538-bsl.py -v "hex-File"` the result is "ERROR: NO CRC32 match (...)". See attached Screenshot.

**Do I make something wrong or did I discover a bug?**

I

[2021-11-28 20:18] JelmerT commented on #115
Looks like something is going wrong indeed, the calculation of the CRC seems to be correct the first time, but the second time the chip is giving you a different value.

What happens when you do a `read` and compare the read hex file with the original?

Could it be that your code altered its own contents in between the flash and then the second verification?

[2021-11-29 13:56] Hedda commented on #113
I can now confirm that with PR here #114 with `--bootloader-sonoff-usb` parameter is working for me on Windows 10. Thanks!

`cc2538-bsl.py -p COM5 -evw --bootloader-sonoff-usb CC1352P2_CC2652P_launchpad_coordinator_20210708.hex`

[code]

[2021-11-29 13:58] Hedda commented on #113
**Itead also is still using the standard VID and PID for the CP2102, so we can't detect on that either.**

FYI, reported before to ITead that they are not only using standard VID and PID for CP2102, they are also using the default "product description" from Silabs, and got a reply that will change the Product Description String value field to “Sonoff Zigbee 3.0 USB Dongle Plus” in their next batch

[2021-11-29 17:21] charraeus commented on #115
Thank's for the fast reply :-). Meanwhile I tested with another firmware-image, but the same issue here as well.

I do not know - It's an image of @Koenkk resp. [slae.sh](https://slae.sh/projects/cc2652/#from-me).

Here are the results of the `read` followed by a CRC32-check, which results in different checksums :-( Maybe the image works as designed despite the crc32-difference? I will try to chec

[2021-11-29 21:15] charraeus commented on #115
I finally succeeded in bringing the application on the stick to cooperate with zigbee2mqtt by @Koenkk  :-) So the flashing must have been correct, otherwise it would not run, right?
The question, why the checksums are different is still unsolved, but as long as the software runs...

So, thank's a lot for your help. This issues can be closed from my point of view.

[2021-11-29 21:38] JelmerT commented on #115
Seeing the same size but different hashes on the read operation, it does look like the code altered its own flash in some way. That would be my best guess, since the crc does match on the write operation.

You could do a diff between both and check which sections are different, and look what those sections mean.

I'll close this one for now since it looks like the script isn't malfunctioning.
Anyo

[2021-11-29 21:38] #115 closed

[2021-12-02 07:53] Hedda commented on #113
FYI, ITead looks to have their Sonoff branded CC2652P based USB dongles back in stock again for $10.99 (US) at least for now:

https://itead.cc/product/sonoff-zigbee-3-0-usb-dongle-plus/

No changelog announcement yet to let us know whether the USB chip in this batch has a unique  Product Description String.

[2021-12-13 08:51] Hedda commented on #113
FYI, ITead now posted a program (blob) that should let users themselves update the product description string on already shipped Sonoff dongles to supposedly match the same description already written to CP2102N EEPROM the latest batch of their dongles:

https://www.facebook.com/SONOFF.official/posts/2927251720919807

Tested that program myself on a Windows 10 computer and it did not work for me (

[2021-12-26 17:33] Rowleys opened #116 "Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)'"
Hi, Im trying to do the python flash with the SSH, I'm doing it on the Home Assistant OS SSH,

Im getting this error  ..

[code]

Thanks

[2022-01-01 09:39] tboy72 commented on #113
Hello!
I also messed up the SONOFF USB ZIGBEE after router firmware the flash.
Unfortunately, flash again doesn't work at all.

`D:\Utils\cc2538-bsl-feature-ITead_Sonoff_Zigbee-delay>cc2538-bsl.py -p COM6 -evw --bootloader-sonoff-usb CC1352P2_CC2652P_other_coordinator_20210708.hex
sonoff
Opening port COM6, baud 500000
Reading data from CC1352P2_CC2652P_other_coordinator_20210708.hex
Your firmware

[2022-01-03 10:50] omerk commented on #116
Your radio device is not in BSL mode (i.e: bootloader not running), follow the instructions for your particular radio device and try again.

Alternatively: If you have multiple USB devices plugged in, you might be using the wrong serial port. Make sure your radio device is indeed enumerating as `/dev/ttyUSB0` or (temporarily) unplug other USB devices and try again.

[2022-01-04 03:03] ZetaPhoenix commented on #113
FYI, I just got new adapters and they show up as `Sonoff Zigbee 3.0 USB Dongle Plus`

[2022-01-05 10:05] jeroenvdd commented on #116
its probably the bootloader, still need to figure out how to enable that option :)

but slae.sh website mentioned "

in their how to so that's probably the reason why people aren't doing it :)

[2022-01-05 12:38] jeroenvdd commented on #112
I now get exactly the same unfortunatily

[2022-01-07 23:06] Hedda commented on #113
Yeah should have used the "`CC1352P2_CC2652P_launchpad_*.zip`" image file and not "`CC1352P2_CC2652P_other_*.zip`" image file.

[https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/Z-Stack_3.x.0/bin](https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/Z-Stack_3.x.0/bin)

Did you try removing enclosure and manually hold physical boot-button while plugging into USB-port

[2022-01-07 23:12] Hedda commented on #113
Yeah some partial progress at least. Unfortunately, the script ITead posted that should let users themselves update the product description string on CP2102N for Sonoff dongles already shipped before does not seem to work:

https://www.facebook.com/SONOFF.official/posts/2927251720919807

Again sad that ITead did not choose to release a CP2102N write tool based on this open-source cp210x-program by

[2022-01-10 11:10] Hedda commented on #116
@Rowleys Check out https://github.com/JelmerT/cc2538-bsl/pull/114 (and [ITead_Sonoff_Zigbee-delay](https://github.com/JelmerT/cc2538-bsl/tree/feature/ITead_Sonoff_Zigbee-delay) branch) if you have ITead SONOFF Zigbee 3.0 USB Dongle Plus adapter.

[2022-01-10 12:13] Hedda commented on #59
@JelmerT @flatsiedatsie posted a question in https://github.com/JelmerT/cc2538-bsl/pull/114 asking if cc2538-bsl can really be ``AS IS'' licenced if based on stm32loader?

I guess real question is if cc2538-bsl directly copies any lines from stm32loader? or only takes inspiration or revense engineerd?

https://github.com/JelmerT/cc2538-bsl/blob/master/cc2538-bsl.py

[code]

"stm32loader" code in t

[2022-01-10 15:50] Rowleys commented on #116
I did yet it working. I had to add --bootloader-sonoff-usb to the command line

when I added this it flashed perfect

[2022-01-10 18:59] Mosher23 commented on #116
hello i am having same issue
but when i add `--bootloader-sonoff-usb` i get `option bootloader-sonoff-usb is not recognized`

what am i doing wrong?

[2022-01-11 11:42] Hedda commented on #116
@Rowleys Sorry are you saying that you specificalkly do have an [ITead SONOFF Zigbee 3.0 USB Dongle Plus adapter](https://itead.cc/product/sonoff-zigbee-3-0-usb-dongle-plus/) and that you now managed to flashing it using the [ITead_Sonoff_Zigbee-delay](https://github.com/JelmerT/cc2538-bsl/tree/feature/ITead_Sonoff_Zigbee-delay) branch from PR https://github.com/JelmerT/cc2538-bsl/pull/114 or? If

[2022-01-11 12:03] Hedda commented on #59
Hopefully no code is copied and can merge https://github.com/JelmerT/cc2538-bsl/pull/117

[2022-01-13 15:12] knoopx commented on #63
fyi: I also was getting the error but it turned out to be brltty udev rule messing with the device. after commenting the udev rule as stated in https://unix.stackexchange.com/questions/670636/unable-to-use-usb-dongle-based-on-usb-serial-converter-chip I was able to flash without further problems.

[2022-01-13 16:47] juan11perez commented on #116
@Hedda
I had the same issue as @Rowleys. After adding --bootloader-sonoff-usb to the command, flashing completed successfully.
I've added the feedback to 114 per your request.

[2022-01-14 05:44] inspire1969 commented on #63
Hi Everyone, I also have this error but it was solved. 
Please check your openmote before inserting it. Sometime the mote is also not working. Other than that i donot face this problem more. 
Regards, Ali Shoaib 

  On Thu, 13 Jan 2022 at 16:12, Víctor ***@***.***> wrote:

fyi: I also was getting the error but it turned out to be brltty udev rule messing with the device. after commenting the udev

[2022-01-20 11:17] Hedda commented on #89
@JelmerT Any updates/news on this?

Can we now please request that you push a new release for PyPI using the old or new name?

https://github.com/JelmerT/cc2538-bsl/issues/89

https://github.com/JelmerT/cc2538-bsl/releases

Also suggest that you use releases with release version in addition to tags:

https://github.blog/2013-07-02-release-your-software/

Plus make use of the PyPI publish GitHub Ac

[2022-01-20 18:45] JelmerT commented on #59
"loosely based" means it was looked at for the structure. It was the only other serial bootloader script in Python I could find at that time. So we can keep BSD-3.
I'll pull #117 which closes this issue.

[2022-01-20 18:45] #59 closed

[2022-02-08 18:07] brodock opened #119 "ERROR: Could not determine firmware type. Magic indicates 'inode/chardevice'"
Perhaps I'm using a more recent version of python-magic. This is against `CC1352P2_CC2652P_launchpad_coordinator_20211217.hex`

Should we update magic conditionals to consider `inode/chardevice` to be Intel Hex?

[2022-02-08 18:09] #119 closed

[2022-02-09 06:41] git-developer opened #120 "Docker support"
I'm a Zigbee2MQTT user and found their guide for [Flashing the firmware via cc2538-bsl](https://www.zigbee2mqtt.io/guide/adapters/flashing/flashing_via_cc2538-bsl.html). I prefer keeping my host system clean and dislike installing dependencies to flash a USB dongle. Thus, I wrote a `Dockerfile` and a a small shell script to optionally download a firmware and then run c2538-bsl as a one-liner, e.g.

[2022-02-12 12:49] jansink commented on #120
Thanks for this! When I run this with the latest dev firmware of Koenkk I get: "ERROR: Invalid data size: 184245. Size must be a multiple of 4."  Any idea?

[2022-02-12 16:58] git-developer commented on #120
Hm... maybe an incorrect URL that doesn't point to a firmware but an HTML page?

[2022-02-12 17:14] git-developer commented on #120
Make sure the URL starts with https​://github.com/Koenkk/Z-Stack-firmware/**raw**/ and not with /**blob**/.

[2022-02-15 10:23] Hedda commented on #113
Tip! Broken down the core steps to flash firmware mentioned in https://github.com/JelmerT/cc2538-bsl/pull/114 into a basic guide for flashing ITead SONOFF Zigbee 3.0 USB Dongle Plus adapter on Windows OS but other than Serial/COM-port addressing the steps should be very similar on any other OS:

1. Install [Silabs CP210x device drivers](https://www.silabs.com/developers/usb-to-uart-bridge-vcp-driv

[2022-02-15 11:07] Hedda commented on #116
FYI, after updating several times and helping others with different setups I have broken down my tested steps to flash firmware mentioned from https://github.com/JelmerT/cc2538-bsl/pull/114 into this basic guide for flashing ITead SONOFF Zigbee 3.0 USB Dongle Plus adapter.

This guide uses the cc2538-bsl tool from JelmerT's latest "master" branch on GitHub and could easily be made to work on all o

[2022-02-20 14:33] rvt opened #121 "Am I doing it right??"
Hey All,

I am using the Sonoff Zigbee2 dongles and writing it like this:

[code]

Note 1: I might have run it once without the --bootloader-sonoff-usb...
Note 2: I can always correctly write it

But when I try to use it with zigbee2mqtt it keeps on failing with `Error: Error while opening serialport 'Error: Error: Permission denied, cannot open /dev/ttyUSB0'`
Note1: My zigbee2mqtt user is in the

[2022-02-20 18:34] JelmerT commented on #121
It looks like this script (cc2538-bsl) worked correctly. If it was able to erase and flash, your bootloader worked fine, and then verified, so your firmware should also be flashed on the chip correctly. If you can do that a second time, your bootloader also wasnt locked in the process, so all good there.

I'm not sure why zigbee2mqtt can't open the serial port, your best bet would be to check here

[2022-02-20 20:30] rvt commented on #121
Hey Jelmer,

thanks for the info... In this case I think I am writing it correctly then... and will head over to teh zigbee2mqtt community to understand why it keeps on showing the permission denied.

[2022-02-20 20:30] #121 closed

[2022-02-20 20:38] JelmerT commented on #121
Actually, I think zigbee2mqtt is using the wrong port. Looks like you're flashing via this one: `/dev/tty.usbserial-1460` but then you're trying to access this one via zigbee2mqtt `/dev/ttyUSB0`, which might not even exist

[2022-02-20 21:07] rvt commented on #121
Hey ,

I have been flashing it on my mac that was using `/dev/tty.usbserial-1460`... But I am running zigbee2mqtt on a odroid (arm) system running Debian that shoudl be using `/dev/ttyUSB0` You can see that in dmesg where it says : `cp210x converter now attached to ttyUSB0`

[2022-02-26 18:36] #113 closed

[2022-02-28 10:37] Hedda commented on #113
@JelmerT Maybe you could look into VCTLabs cp210x-program to change the CP2102N "product description" string? See:

https://github.com/VCTLabs/cp210x-program

Note! Do not change the VID or PID as then will new a new device driver too, so only change the "product description" string.

PS: I will create a new separate issue with a request to auto-detect known dongles based on information provided o

[2022-02-28 10:55] Hedda opened #122 "[REQUEST] Ability to auto-detect known dongles based on information provided in info USB-to-UART bridge/converter chip"
Request ability to automatically discover known dongles based on information provided in info USB-to-UART bridge/converter chip.

The idea would be to use VID (Vendor Identification), PID (Vendor Identification), in combination with "Product Description" that the manufacturers have as an option to write if using a USB-to-UART bridge / USB-to-Serial converter chip model with writable EEPROM.

Zigbe

[2022-02-28 11:04] Hedda commented on #122
Owers of the popular ITead Sonoff Zigbee 3.0 USB Dongle Plus adapters should know that the first few batches were shipped without a custom “Product Description" written to its CP2102N chip and that will prevent discovery of it as a unique adapter.

ITead has released this script/application (for Windows OS) which should write the same “Product Description" to its CP2102N chip as is written in the

[2022-03-02 08:30] Hedda commented on #122
I guess this could more easily be developed/tested using the official Silabs official CP2102N USBXpress Bridge Development Kits?

https://www.silabs.com/development-tools/interface/cp2102n-development-kit

https://www.silabs.com/development-tools/interface/cp2102n-mini-development-kit

[2022-03-07 20:39] jayrobwilliams commented on #111
I had this same error with Python 3.5, 3.7, and 3.9 when using a conda environment. When I used pip3 to install the dependencies and used my system python to run the script, everything worked fine. Maybe there is a difference in one of the dependencies between pip and conda.

[2022-03-10 04:16] JelmerT commented on #111
This looks like an odd error, the error looks like you're running python 2, but when you do `--version` it is python 3.

Is there a reason why you're using `sudo`? and might that influence the python version that's being used? Could you try `sudo python --version`?

Is @jayrobwilliams his suggestion relevant to you?

[2022-03-21 17:27] jayrobwilliams commented on #111
I had to use `sudo` because I got a permissions error when I didn't. You're right that `sudo python` is invoking the system python instead of the conda one:
[code]
Turns out this is due to `sudo` having a different PATH than a standard shell, and can be fixed by running `sudo conda activate <environment>` instead of simply `conda activate <environment>` https://stackoverflow.com/a/36659493.

[2022-03-22 18:40] JelmerT commented on #111
@Nornode did you see the same issue as @jayrobwilliams , did this fix your problem?

[2022-04-19 06:59] Hedda commented on #89
@JelmerT Any news on updating releases on PyPI?

[2022-04-19 16:21] JelmerT commented on #89
I'm not maintaining this one https://pypi.org/project/cc2538/ that would be @sieben. If there's no answer from them I'm open to maintaining a new package under the new name.

I'll implement the name change somewhere next 2 weeks when I find some time in between my day-job.

[2022-04-19 16:33] remyleone commented on #89
Hello, I'm @remyleone, @sieben is my old GitHub profile. I'm willing to give ownership of this package to whoever wants it. What is your PyPI username?

[2022-04-20 01:59] JelmerT commented on #89
Thanks @remyleone ! you can add https://pypi.org/user/jelmt/

[2022-04-20 07:23] remyleone commented on #89
Done. Feel free to remove me once you accepted the invitation :)

[2022-05-01 07:21] djgrazzy commented on #63
I had this issue and solved.
Hope this is helpful but all I done on Windows 10 was update from Driver Version 6.7.4.261 to 11.1.0.53.
Unplugged and re-plugged the dongle and flashed.

https://www.silabs.com/developers/usb-to-uart-bridge-vcp-drivers

I had previously used steps in this video
https://youtu.be/4jqQCxjlRDU

But was trying to follow this one
https://youtu.be/4eYnURcDrWw

[2022-05-02 10:44] SuperPauly opened #123 "ERROR: Timeout waiting for ACK/NACK after 'Send data (0x24)'"
I'm running
`python3 cc2538-bsl.py -p /dev/ttyUSB0 -e -v -w --bootloader-sonoff-usb CC1352P2_CC2652P_launchpad_coordinator_20220219.hex -V
`

And I'm getting this output:
`
sonoff
Opening port /dev/ttyUSB0, baud 500000
Reading data from CC1352P2_CC2652P_launchpad_coordinator_20220219.hex
Firmware file: Intel Hex
Connecting to target...
CC1350 PG2.0 (7x7mm): 352KB Flash, 20KB SRAM, CCFG.BL_CONFIG a

[2022-05-02 10:47] SuperPauly commented on #123
UPDATE:
I changed USB ports and now it works but I'm getting a different error:

[2022-05-02 15:50] JelmerT commented on #123
seems like in both cases your chip isnt answering after the write cycle. Are you sure you're using a correct firmware for your chip, and you're not disabling the bootloader in the chip?

[2022-05-20 00:21] ismarslomic commented on #120
@git-developer you saved my day! I agree with your approach, I do also like to keep my host clean for dev dependencies. I managed flashing mine Sonoff Zigbee 3.0 dongle with your docker image. I did just an small tweek to mount my USB device to container by using /serial/by-id path, like this:

[code]

Thanks @JelmerT for maintaining this solutio. 👍 from me to include Docker as alternative solutio

[2022-05-28 01:21] ionultd opened #124 "Executing cc2538-bsl require pyserial which I already have installed"
I execute: `python cc2538-bsl.py -p COM20 -evw --bootloader-sonoff-usb CC1352P2_CC2652P_launchpad_coordinator_20211217.hex`
and it says:
cc2538-bsl.py requires the Python serial library
Please install it with:
   pip3 install pyserial

Already done:

PS E:\mydownloads\cc2538-bsl-master> pip3 install pyserial
Requirement already satisfied: pyserial in c:\users\shane\.platformio\penv\lib\site-packag

[2022-05-29 02:50] JelmerT commented on #124
could you try
`python3 cc2538-bsl.py -p COM20 -evw --bootloader-sonoff-usb CC1352P2_CC2652P_launchpad_coordinator_20211217.hex`

See if that works?

[2022-06-17 08:38] hocomadvies opened #125 "Timeout waiting for ACK/NACK after 'Get ChipID (0x28)'"
`pi@raspberrypi:~ $ sudo python3 cc2538-bsl/cc2538-bsl.py /dev/ttyUSB0 -evw  --bootloader-sonoff-usb  CC2652RB_coordinator_20220219.hex
`
[code]

Tried to update the slaesh cc2652RB stick through ssh on my rpi3b. I kept on getting the Timeout waiting for ACK/NACK. Took out the stick and replaced it. Made sure the port is ok. Read trough all posts/ how-to''s about this subject but still cannot get

[2022-06-17 19:27] hocomadvies commented on #125
tried also with pushing the button when inserting. Nothing different.

[2022-06-18 10:49] hocomadvies commented on #125
Still getting errors when trying to flash. it seems not working ok. How to deal with it get it working ok?

[2022-06-19 08:04] entropical opened #126 "Timeout waiting for ACK/NACK after 'Send data (0x24)'."
I have a new SONOFF Zigbee 3.0 USB Dongle Plus.

I am running the following commandline:

`python3 cc2538-bsl.py -Vewv -p /dev/ttyUSB0 --bootloader-sonoff-usb ./CC1352P2_CC2652P_launchpad_router_20220125.hex`

It works for a 5-10 seconds, sending data, and then dies. It dies after successfully sending varying amounts of data:

Attempt 1:
[code]
Attempt 2:
[code]

Attempt 3:
[code]

The start of ea

[2022-06-19 08:25] entropical commented on #126
I tried it on a different Pi, and it worked.

Maybe the USB ports on my Pi4 are b0rked.

[2022-07-25 19:56] mafu75 opened #127 "--ieee-address does not update work with sonoff zigbee 3.0 USB dongle plus"
Hi all,

I am trying to alter the coordinator address of my above CC2652P based USB dongle like:

python3 cc2538-bsl.py --bootloader-sonoff-usb -evw --ieee-address 00:12:4b:00:01:4d:12:34 ../CC1352P2_CC2652P_launchpad_coordinator_20220219.hex
sonoff
Opening port /dev/ttyUSB0, baud 500000
Reading data from ../CC1352P2_CC2652P_launchpad_coordinator_20220219.hex
Firmware file: Intel Hex
Connecting to

[2022-07-26 19:03] JelmerT commented on #127
I'm pretty sure there's 2 ieee addresses in this chip. You're reading the first one, and setting the second one. I'm pretty sure the primary is hard coded and secondary is configurable.

[2022-07-26 19:06] JelmerT commented on #127
Why zigbee2mqtt isn't using the secondary address, I'm not sure about that one.

You could read out `0x00057FC8` to check your new address is actually there, to determine where the issue is.

We should probably print out both addresses, feel free to submit a PR on this feature.

[2022-08-02 16:33] JelmerT commented on #126
Glad it worked out, closing this issue

[2022-08-02 16:33] #126 closed

[2022-08-02 16:37] JelmerT commented on #125
It seems the chip on your stick can be read, but the script quit too early?

Are you still having issues?

[2022-08-02 16:41] JelmerT commented on #120
@git-developer this is pretty cool!

Feel free to submit a PR to update the readme on this script to include link to https://github.com/git-developer/ti-cc-tool

[2022-08-03 02:30] ledhed2222 commented on #123
@SuperPauly I was having the same issue. Decided to stop a bunch of user services. Homebridge, running on the same pi, seemed to be the culprit. Perhaps it was trying to access the same serial port for some reason? no idea

[2022-08-11 19:23] samip5 opened #129 "Which Pyhon version is supported?"
Hi,

I tried to find out which Python version is required as I'm having issues trying to use it with python3.10?

[code]

[2022-08-11 21:36] JelmerT commented on #129
Python 3 should be supported.

Looks like the script cant find `socket://192.168.2.112:6638` is this a socket to a remote serial port? I've never used the script like this before, what's your hardware setup?

[2022-08-11 21:53] samip5 commented on #129
It's an remote serial port, yes. It consists of CC2652P2 Radio Module + Olimex ESP32-PoE Module. ESP32 is running ESPHome and it's configured in way that that port goes to the radio module.

Funny thing, it actually did find it when done inside Docker as I was wiresharking my nic when trying to run it and it in fact did not even try to connect to it but inside the Docker container, I was able to u

[2022-08-11 22:37] JelmerT commented on #129
Can you manually open the serial port through that socket? with a serial terminal?

[2022-08-11 22:48] samip5 commented on #129
zigbee2mqtt utilizes that socket as well without issues, and I also tried from a Ubunru system but faced the same issue so I'm not at all sure where the issue with it would be.

[2022-08-12 22:07] JelmerT commented on #129
Note that this script needs access to more pins than just TX and RX to get the hardware into bootloader mode. Please check if that is possible through the socket connection.

[2022-08-12 22:51] samip5 commented on #129
It did not even try to connect according to Wireshark, so it has to be a Python version compatibility issue however I have already upgraded the firmware by using the Docker container so for me, this has been resolved by using a workaround.
The Docker container seems to be using the same script (https://github.com/git-developer/ti-cc-tool).

Just for reference:

OS: Gentoo & Ubuntu 22.04
Python: 3.

[2022-08-12 23:12] JelmerT commented on #129
The socket connection only works on POSIX systems, but looks like you're testing with one, so that shouldn't be the issue.

I'm indeed suspecting PySerial not being happy with something, not sure what though.

If you're up for more debugging, could you try connecting with miniterm to the socket and see if it works that way:
[code]

[2022-08-19 17:28] nielsnl68 commented on #125
Yes, i do have the same issue, just brought this sonoff ZBDongle-P 3.0 dongle as well.
And wanted to upgrade my firmware. with your phyton script.

[2022-08-19 17:49] nielsnl68 commented on #63
I do have the same issue, just brought this sonoff ZBDongle-P 3.0 USB dongle and wanted to upgrade my firmware with your phyton script. Doing so i got the same error as mentioned above.

There are a lot of suggestions but i'm not clear with path i need to take, i'm a newby on using the zigbee dongle.

[2022-08-19 20:15] mteusb commented on #116
I'm still having this problem.

I've done everything and I can't solve it.

[2022-08-22 12:04] Hedda commented on #116
Be sure now that you have bought a CC2652P-based “ZBDongle-P” adapter and not an EFR32MG21-based “ZBDongle-E” adapter.

FYI, ITead just released a [Silicon Labs EFR32MG21 “ZBDongle-E” adapter, which unfortunately is also marked as "Sonoff Zigbee 3.0 USB Dongle Plus V2"](https://community.home-assistant.io/t/itead-s-sonoff-zigbee-3-0-usb-dongle-plus-model-zbdongle-e-based-on-silicon-labs-efr32mg21-

[2022-08-27 15:02] mteusb commented on #116
mine is EFR32MG21.

how do i bootloader and flash it?

[2022-08-28 08:30] Hedda commented on #116
Offtopic here but please note that I collected links in ZBDongle-E discussion here -> https://community.home-assistant.io/t/itead-s-sonoff-zigbee-3-0-usb-dongle-plus-v2-model-zbdongle-e-based-on-silicon-labs-efr32mg21-20dbm-radio-mcu-now-sold-for-19-99/442695

[2022-08-29 21:58] gurues commented on #127
The same thing happens to me with the sonoff dongle and I can check with Flash Programmer that the secondary address is updated to the value I require. Do I now have to update the primary address? Will the device continue to work or can I charge it?
Thank you

[2022-09-05 14:28] bglnelissen commented on #63
For future readers. I tried to flash my dongle which gave a ` Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)'` error.
I found that there was an other instance trying to use the dongle (zigbee2mqtt docker container). When I did quit the container it all worked as expected.

Both

[code]

After stopping docker

[code]

[2022-09-10 21:49] cpaius commented on #63
had the same timeout issue. Simply resolved that by adding --bootloader-sonoff-usb flag.

[2022-11-17 22:10] RafBois commented on #63
I don't understand why I have this error and I don't think anyone in this post has fixed the problem?

lrwxrwxrwx 1 root root 13 Nov 17 21:45 usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20220816140554-if00 -> ../../ttyACM0

sudo python3 cc2538-bsl.py -ewv -p /dev/ttyACM0 --bootloader-sonoff-usb . /CC1352P2_CC2652P_launchpad_coordinator_20220219.hex

sonoff Port d'ouverture /dev/ttyACM0, baud 50